$typeface-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$typeface-brand: 'Alegreya', serif;
$typeface-body: 'Alegreya Sans', sans-serif;
$typeface-sans: 'Alegreya Sans', sans-serif;

$line-height: 1.55;

$body-max-paragraph-width: 32em;
$body-max-paragraph-width-wide: 36em;

$font-size-body: 1.15rem;
$font-size-ui: $font-size-body;
