---
layout: service-manual
title: SeMI, our style; providing contextual info to our users
---

<article class="article style-sm container">
    <div class="wrapper">
        <h2>Notifications and information provision</h2>

        <section class="style-sm-section">
            <h3>Notification messages</h3>
            <p>Thee notification messages can be used on a <em>meta</em>-level when it concerns page-wide notifications, or <em>inline</em>, contextual to a single or group of elements.</p>
        </section>

        <section class="style-sm-section">
            <h4>Information notification</h4>
            <h5>Page-wide</h5>
            {% capture block1 %}
<section class="notify-info" id="notify-info" contenteditable="true">
    <div>
        <p>Lorem ipsum dolor sit amet, <em>consectetur adipisicing elit</em>. Atque vero temporibus tenetur ex ad earum quam assumenda? Atque ipsum laudantium quos, nemo, facere fugiat tempora tempore libero perspiciatis cum ex?</p>
    </div>
    <p><a class="close" href="#notify-info" onClick="hide('notify-info')">Close</a></p>
</section>
            {% endcapture %}
            {{block1}}
            {% include molecule-codeblock.html content=block1 %}
            <h5>Contextual inline</h5>
            {% capture block2 %}
<section class="notify-info notify--contextual" id="notify-info--contextual" contenteditable="true">
    <div>
        <p>Lorem ipsum dolor sit amet, <em>consectetur adipisicing elit</em>. Atque vero temporibus tenetur ex ad earum quam assumenda? Atque ipsum laudantium quos, nemo, facere fugiat tempora tempore libero perspiciatis cum ex?</p>
    </div>
    <p><a class="close" href="#notify-info--contextual" onClick="hide('notify-info--contextual')">Close</a></p>
</section>
            {% endcapture %}
            {{block2}}
            {% include molecule-codeblock.html content=block2 %}
        </section>

        <section>
            <h4>Warning and error notification</h4>
            <h5>Page-wide</h5>
            {% capture block3 %}
<section class="notify-warning" id="notify-warning" contenteditable="true">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <strong>Ut ratione voluptatum itaque</strong>, laborum perferendis iure atque voluptate. Quae harum doloremque suscipit. Commodi natus, autem asperiores voluptas enim, labore accusamus maxime.</p>
    </div>
    <p><a class="close" href="#notify-warning" onClick="hide('notify-warning')">Close</a></p>
</section>
            {% endcapture %}
            {{block3}}
            {% include molecule-codeblock.html content=block3 %}

            <h5>Contextual inline</h5>
            {% capture block4 %}
<section class="notify-warning notify--contextual" id="notify-warning--contextual" contenteditable="true">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <strong>Ut ratione voluptatum itaque</strong>, laborum perferendis iure atque voluptate. Quae harum doloremque suscipit. Commodi natus, autem asperiores voluptas enim, labore accusamus maxime.</p>
    </div>
    <p><a class="close" href="#notify-warning--contextual" onClick="hide('notify-warning--contextual')">Close</a></p>
</section>
            {% endcapture %}
            {{block4}}
            {% include molecule-codeblock.html content=block4 %}
        </section>

        <section>
            <h4>Success notification</h4>
            <h5>Page-wide</h5>
            {% capture block5 %}
<section class="notify-success" id="notify-success" contenteditable="true">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <em>Id ad</em>, necessitatibus <strong>veniam reiciendis</strong> non! Tempora, fugit, ratione? Ipsa in voluptatum non, vitae totam ad consequuntur magnam quia maiores nobis delectus.</p>
    </div>
    <p><a class="close" onClick="hide('notify-success')">Close</a></p>
</section>
            {% endcapture %}
            {{block5}}
            {% include molecule-codeblock.html content=block5 %}
            <h5>Contextual inline</h5>
            {% capture block6 %}
<section class="notify-success notify--contextual" id="notify-success--contextual" contenteditable="true">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <em>Id ad</em>, necessitatibus <strong>veniam reiciendis</strong> non! Tempora, fugit, ratione? Ipsa in voluptatum non, vitae totam ad consequuntur magnam quia maiores nobis delectus.</p>
    </div>
    <p><a class="close" href="#notify-success--contextual" onClick="hide('notify-success--contextual')">Close</a></p>
</section>
            {% endcapture %}
            {{block6}}
            {% include molecule-codeblock.html content=block6 %}
        </section>
    </div>
</article>