---
layout: service-manual
title:  our style; aural and visual media
---
<article class="style-sm container">
    <div class="wrapper">
        <h2>Media</h2>

        <section class="style-sm-section">
            <h3>Images</h3>
            {% capture block1 %}
<figure>
    <a href="/img/SeMI-Exploration-workshop.jpg">
        <img src="/img/SeMI-Exploration-workshop.jpg"
             alt="Outline of the SeMI exploration workshop showing the five steps from diverge to converge">
    </a>
    <figcaption>
        <p>Caption for image with <a href="#">a link</a>.</p>
    </figcaption>
</figure>
            {% endcapture %}
            {{block1}}
            {% include molecule-codeblock.html content=block1 %}
        </section>

        <section class="style-sm-section">
            <h3>Video</h3>
            {% capture block2 %}
<figure class="video-container">
    <div>
        <iframe width="560"
                 height="315"
                 src="https://www.youtube-nocookie.com/embed/WQO-aOdJLiw?rel=0"
                 frameborder="0"
                 allow="autoplay; encrypted-media"
                 allowfullscreen></iframe>
    </div>
    <figcaption>
        <p>Caption for video.</p>
    </figcaption>
</figure>
            {% endcapture %}
            {{block2}}
            {% include molecule-codeblock.html content=block2 %}
        </section>
    </div>
</article>