---
bodyclass: page--use-cases
layout: layout-default
title: use cases
description: Discover the innovative ways in which different organizations have applied our products and the benefits they have created for their business.
exclude: true
---

<article>
    <div class="container background-hexagon">
        <section class="layout layout--single section-page-intro">
            <div class="section-standout__text--centered space-header-page">
                <h1 class="title-page header--centered">{{page.title}}</h1>
                <div class="section-standout__text--centered">
                    <p>{{page.description}}</p>
                </div>
            </div>
        </section>
        <section class="wrapper--wide">
            <ul class="cards">
                {% assign sorted_use_cases = site.use_cases | sort:"order" %}
                {% for item in sorted_use_cases limit:4 %}
                    {% unless item.exclude %}
                        {% include components/card/card.html
                            themeClass="card--pilar"
                            imgUrl=""
                            imgAlt=""
                            title=item.title
                            linkUrl=''
                            linkExternal=false
                            ctaText=""
                            content=item.description
                            inDevelopment=true
                        %}
                    {% endunless %}
                {% endfor %}
            </ul>
        </section>
    </div>
</article>
