{% if include.columnOrder == 'reverse' %}
    {% assign orderClass = 'section-standout__content--reverse' %}
{% else %}
    {% assign orderClass = '' %}
{% endif %}

<section class="section-standout__content section-standout__content--double {{ orderClass }}">
    <div class="section-standout__column">
        {%- if include.img %}
            <img src="{{ include.img }}" alt="{{ include.imgAlt }}" />
        {%- endif %}
    </div>
    <div class="section-standout__column">
        <h3 class="section__heading section__heading--tertiary">{{ include.title }}</h3>
        {{ include.content }}
    </div>
</section>