---
bodyclass: page--home
layout: layout-home
title: SeMI, decentralized knowledge network
description: Get the insights you need and explore what’s possible!
cooltext: false
---

{% capture centeredColumn %}
	<h2 class="header-section title-page">Decentralized services</h2>
	<div class="section-standout__text--centered">
		<p>SeMI is pioneering the way in which companies can learn from knowledge in each other's data, enabling our customers to enhance products and train <abbr title="Artificial intelligence">AI</abbr>s based on data they never had access to before.</p>
	</div>
{% endcapture %}

{% capture standoutSectionContent1 %}
	{% include components/layout/layout--single.html
		content=centeredColumn
	%}
{% endcapture %}

{% capture row1Column1 %}
	<img src="/img/SeMI-graphic-medium__enterprise-solutions.svg" alt="SeMi graphic enterprise solutions" />
{% endcapture %}
{% capture row1Column2 %}
	<h3 class="color-light title-column header-section">Enterprise Knowledge Sharing</h3>
	<p class="color-light">SeMI's Weaviate is a knowledge graph ready for collaborating in the enterprise. Regardless if you want to share knowledge with peers or internally, Weaviate helps you to do so.</p>
{% endcapture %}
{% capture row2Column1 %}
	<img src="/img/SeMI-graphic-medium__enterprise-solutions.svg" alt="SeMi graphic enterprise solutions" />
{% endcapture %}
{% capture row2Column2 %}
	<h3 class="color-light title-column header-section">Collaborative Networks</h3>
	<p class="color-light">SeMI is all about collaborating. Regardless if it's cross-industry, with peers or internally. SeMI's software helps you to make collaborating with multiple big data datasets as easy as possible and unlock the knowledge hidden in them.</p>
{% endcapture %}
{% capture row3Column1 %}
	<img src="/img/SeMI-graphic-medium__open-source.svg" alt="SeMi graphic open source" />
{% endcapture %}
{% capture row3Column2 %}
	<h3 class="color-light title-column header-section">Power of Open Source</h3>
	<p class="color-light">At SeMI we believe in the power of collaboration and openness. Open source allows us to have individuals, small business or academic users work with our software. For enterprise users, we have specific offerings that are tailormade to suit their needs.</p>
{% endcapture %}

{% capture standoutSectionContent2 %}
	{% include components/layout/layout--double.html
		contentColumnOne=row1Column1
		contentColumnTwo=row1Column2 %}
	{% include components/layout/layout--double.html
		columnOrder="reverse"
		contentColumnOne=row2Column1
		contentColumnTwo=row2Column2 %}
	{% include components/layout/layout--double.html
		contentColumnOne=row3Column1
		contentColumnTwo=row3Column2 %}
{% endcapture %}

<article>

	<section class="section-heading--primary section-heading--centered container">
		<div class="wrapper">
			<h1>What if you could <em id="cooltext">enrich your products</em> with insights and data you’ve never had access to?</h1>
			<a class="button button--cta" href="/products/products-world-signup.html">Join the SeMI world pilot!</a>
		</div>
	</section>

	{% include components/section-standout/section-standout.html
		type="secondary"
		content=standoutSectionContent1
	%}

	{% include components/section-standout/section-standout.html
		type="tertiary"
		content=standoutSectionContent2
	%}

	<div class="section-standout--secondary container background-hexagon background-hexagon--white">
		<section class="wrapper">
			<div class="layout layout--single">
				<h2 class="header-section title-page">Products and Services</h2>
			</div>
			{% include organism-cards-products-network-and-consulting.html %}
		</section>
		<!--section class="section-partners">
			<div class="wrapper">
				<div class="layout layout--single">
					<h2 class="header-section title-column">Our pilot partners</h2>
				</div>
			</div>

			full width section for logo's
			include organism-partner-logos.html
		</section-->
		<section class="wrapper--wide">
			<div class="layout layout--single">
				<h2 class="header-section title-page">Ready to start?</h2>
			</div>
			<!-- these cards are edge to edge -->
			<ul class="cards">

				{% include components/card/card.html
					title="Explore your first use case"
					bodycopy="Want to explore how SeMI can help your business?"
					linkUrl="/contact/"
					ctaText="Book a free eplorative workshop"
				%}

				{% include components/card/card.html
					title="Become a SeMI partner"
					bodycopy="Would you like to become one of our pilot partners?"
					linkUrl="/contact/"
					ctaText="Join the SeMI World Pilot"
				%}

				{% include components/card/card.html
					title="In-depth look into SeMI"
					bodycopy="Curious how SeMI works from a technical perspective?"
					linkUrl="/knowledge-base/"
					ctaText="Go to knowledge base"
				%}

			</ul>
		</section>
	</div>

</article>
