---
layout: styleguide
title: SeMI, our style; our Section component
---

{% capture standoutSectionContent1 %}
    {% include components/section-standout/section-standout__content--single.html
        title='<h2 class="section__heading section__heading--primary">Standout section single column</h2>'
        content='<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non sapien malesuada, laoreet quam ac, aliquam turpis. Nam fermentum lacinia dolor a dictum. Suspendisse vel magna tellus. </p>'
    %}
{% endcapture %}

{% capture textColumn %}
    <h3>Standout section double column title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non sapien malesuada, laoreet quam ac, aliquam turpis. Nam fermentum lacinia dolor a dictum. Suspendisse vel magna tellus. </p>
{% endcapture %}

{% capture imageColumn %}
    <img src="/img/styleguide/example-image_16-9.svg" alt="alternative text for image" />
{% endcapture %}

{% capture standoutSectionContent2 %}
    {% include components/section-standout/section-standout__content--double.html
        contentColumnOne=textColumn
        contentColumnTwo=textColumn
    %}
    {% include components/section-standout/section-standout__content--double.html
        contentColumnOne=textColumn
        contentColumnTwo=imageColumn
    %}
    {% include components/section-standout/section-standout__content--double.html
        columnOrder="reverse"
        contentColumnOne=textColumn
        contentColumnTwo=imageColumn
    %}
{% endcapture %}

<article class="semi-sg">
    <section>
        <div class="container">
            <div class="wrapper">
                <div class="semi-sg-section">
                    <h2>Standout sections</h2>
                    <p>A standout section is usually used to break the page visually into digestible chucks.</p>

                    <p>The following sections are possible:</p>
                    <ul class="list-bullet">
                        <li><!--a href="#"-->Primary standout section (t.b.d.)<!--/a--></li>
                        <li><a href="#sg-anchor-secondary-standout-section">Secondary standout section</a></li>
                        <li><a href="#sg-anchor-tertiary-standout-section">Tertiary standout section</a></li>
                    </ul>
                    <p>Each one of these sections have the possibility to have <strong>a single</strong> or <strong>double columns</strong>.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="sg-anchor-secondary-standout-section">
        <div class="container">
            <div class="wrapper">
                <h3>Secondary standout section</h3>
                <p>A secondary standout section is recognized by the white background and decorative background-image.</p>
                <h4>Example of secondary standout section with a <strong>single column</strong>:</h4>
            </div>
        </div>
        {% include components/section-standout/section-standout.html
            type="secondary"
            content=standoutSectionContent1
        %}
        <div class="container">
            <div class="wrapper">
                <div class="semi-sg-section-separator-block semi-sg-section-separator-block--spacing-bottom"></div>
                <h4>Example of secondary standout section with <strong>double columns</strong>:</h4>
            </div>
        </div>
        {% include components/section-standout/section-standout.html
            type="secondary"
            content=standoutSectionContent2
        %}
        <div class="container">
            <div class="wrapper">
                <div class="semi-sg-section-separator-block"></div>
            </div>
        </div>
    </section>
    <section class="semi-sg-section" id="sg-anchor-tertiary-standout-section">
        <div class="container">
            <div class="wrapper">
                <h3>Tertiary standout section</h3>
                <p>The tertiary standout section uses a dark background with a lighter text on top.</p>
                <h4 style="margin-bottom:3rem;">Example of tertiary standout section with a <strong>single column</strong>:</h4>
            </div>
        </div>
        {% include components/section-standout/section-standout.html
            type="tertiary"
            content=standoutSectionContent1
        %}
        <div class="container">
            <div class="wrapper">
                <div class="semi-sg-section-separator-block semi-sg-section-separator-block--spacing-top"></div>
            </div>
        </div>
        <!-- TODO refactor inline styling -->
        <div style="margin-top:3rem;margin-bottom:3rem;" class="container">
            <div class="wrapper">
                <h4>Example of tertiary standout section with <strong>double columns</strong>:</h4>
            </div>
        </div>
        {% include components/section-standout/section-standout.html
            type="tertiary"
            content=standoutSectionContent2
        %}
    </section>
</article>