
$screen-width-small: 679px;
$screen-width-medium: 767px;
$screen-width-large: 959px;
$screen-width-xl: 1259px;
// $screen-width-xxl: 1439px;

@mixin breakpoint($point) {
  // < 680px
  @if $point == smallOnly {
    @media (max-width: $screen-width-small)  { @content ; }
  }
  // 680px - 768px
  @else if $point == smallToMedium {
    @media (min-width: $screen-width-small) and (max-width: $screen-width-large) { @content ; }
  }
  // < 768
  @else if $point == toMedium {
    @media (max-width: $screen-width-medium) { @content ; }
  }
  // 768+
  @else if $point == mediumUp {
    @media (min-width: $screen-width-medium) { @content ; }
  }
  // 768px - 960px
  @else if $point == mediumToLarge {
    @media (min-width: $screen-width-medium) and (max-width: $screen-width-xl) { @content ; }
  }
  // < 960+
  @else if $point == toLarge {
    @media (max-width: $screen-width-large) { @content ; }
  }
  // 960+
  @else if $point == largeUp {
    @media (min-width: $screen-width-large) { @content ; }
  }
  // 960px - 1120px
  @else if $point == largeToExtraLarge {
    @media (min-width: $screen-width-large) and (max-width: $screen-width-xl)  { @content ; }
  }
  // 1120+
  @else if $point == extraLargeUp {
    @media (min-width: $screen-width-xl) { @content ; }
  }
}
