<a class="show-toc" href="#" data-toggle="toc">Table of contents</a>
<sidebar id="toc" class="article-toc-container" aria-expanded="false" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <dl class="article-toc">
        <dd>
            <ul class="list-ui article-toc__list-pages">
            {% assign sorted_blogs = site.blog | sort: 'menu-order' %}
            {% for item in sorted_blogs %}
                <li>
                    <a href="{{item.url}}">{{item.title}}</a>
                </li>
            {% endfor %}
            </ul>
        </dd>
    </dl>
</sidebar>
