<h1>{{ page.title }}</h1>
{% if page.author or page.pubdate %}
<div class="page-meta">
    {% if page.author %}
    {% assign author = site.data.authors[page.author] %}
    {% if author.archive != '' %}
    <p>By <a href="/authors/{{page.author}}/" title="See archive page of {{author.displayname}}">{{ author.displayname }}</a>, {{ author.title }}</p>
    {% else %}
    <p>By {{ author.displayname }}, {{ author.title }}</p>
    {% endif %}
    {% endif  %}
    {% if page.pubdate %}
    <p>{{ page.pubdate }}</p>
    {% endif %}
</div>
{% endif %}
{% if page.description != null %}
    <p class="intro">{{ page.description }}</p>
{% endif %}
{% if page.related_to != null %}
    {% for rels in page.related_to %}
        <a href="#">{{ rels }}</a>
    {% endfor %}
{% endif %}