<ul class="cards">

    {% include components/card/card.html
        title="Common Knowledge"
        inDevelopment=true
        bodycopy="Fed by the largest encyclopedia in the world, Wikipedia, the Common Knowledge Network gives insights about an enormous range of subjects."
        themeClass="card--white card--theme-network"
        imgUrl="/img/logo-icon-common-knowledge.svg"
        linkUrl=""
    %}

    {% include components/card/card.html
        title="Small and Medium-Sized Enterprises"
        inDevelopment=true
        bodycopy="The SME Network contains an ever-growing knowledge graph of public SME data. Ideal for enhancing your own data sets."
        themeClass="card--white card--theme-network"
        imgUrl="/img/logo-icon-sme.svg"
        linkUrl=""
    %}

    <!--include components/card/card.html-->
        <!--title="Point solution 3"-->
        <!--inDevelopment=true-->
        <!--bodycopy="Function Function USP lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum"-->
        <!--themeClass="card&#45;&#45;theme-keyper"-->
        <!--imgUrl="/img/logo-icon-weaviate.svg"-->
        <!--linkUrl="/products/keyper.html"-->
    <!---->

</ul>
