<nav class="nav-main wrapper--wide">
    <ul>
        <li class="nav-main--home"><a href="/">Home</a></li>
        <li class="nav-main--products"><a href="/services/">Services</a></li>
        <li class="nav-main--products"><a href="/products/">Products</a></li>
        <li class="nav-main--blog"><a href="/blog/">blog</a></li>
        <li class="nav-main--use-cases"><a href="/use-cases/">use cases</a></li>
        <li class="nav-main--contact"><a href="/contact/">Contact</a></li>
    </ul>
</nav>