<footer class="{% if include.footerOverlay == 'true' %}site-footer--overlay{% endif %}">
	<section class="footer-links">
		<ul class="list-ui-hor">
			<li><a href="/privacy/">Privacy Policy</a></li>
			<li><a href="/disclaimer/">Disclaimer</a></li>
			<li><a href="/service-manual/">Service &amp; Product Manual</a></li>
		</ul>
	</section>
	<small class="footer-copyright">Copyright © 2018 SeMI in collaboration with <a href="https://www.ing.com/About-us/ING-Labs.htm" target="_blank">ING Labs</a>. All Rights Reserved.</small>
</footer>
<script src="/js/main.bundle.js"></script>
</body>
</html>
