<ul class="cards">

    {% include components/card/card.html
        title="Common Knowledge"
        inRnD=true
        bodycopy="Fed by the largest encyclopedia in the world, Wikipedia, the Common Knowledge Network gives insights about an enormous range of subjects."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-icon-common-knowledge.svg"
        linkUrl="#"
    %}

    {% include components/card/card.html
        title="Small and Medium-Sized Enterprises"
        inRnD=true
        bodycopy="The SME Network contains an ever-growing knowledge graph of public SME data. Ideal for enhancing your own data sets."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-icon-sme.svg"
        linkUrl="#"
    %}

    {% include components/card/card.html
        title="Weaviate Keyper"
        bodycopy="Couple Weaviates together within and between organisations for enhanced productivity."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-keyper.svg"
        linkUrl="/products/keyper.html"
    %}

    {% include components/card/card.html
        title="Tableau"
        bodycopy="Use Tableau to visualise your Weaviate data."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-external-tableau.svg"
        linkUrl="/products/tableau.html"
        logoWide=true
    %}

</ul>