<section>
    <h2 class="header-section header--centered title-column">Get started now!</h2>
    <ul class="cards">
        <li class="card card--theme-weaviate-oss">
            <div class="card__icon">
                <img src="/img/logo-icon-weaviate-oss.svg" alt="Weaviate OSS logo" />
            </div>
            <h3 class="card__title">Weaviate OSS</h3>
            <div class="card__content">
                <p>Want to explore how SeMI can help your business?</p>
            </div>
            <a class="button" href="/workshop/">Book a free explorative workshop</a>
        </li>
        <li class="card card--theme-weaviate-enterprise"><!-- .semi is default theme -->
            <div class="card__icon">
                <img src="/img/logo-icon-weaviate-enterprise.svg" alt="Weaviate enterprise logo" />
            </div>
            <h3 class="card__title">Weaviate Enterprise</h3>
            <div class="card__content">
                <p>Curious how SeMI works from a technical perspective?</p>
            </div>
            <a class="button" href="/knowledge-base/">Go to knowledge base</a>
        </li>
    </ul>
</section>