<ul class="list-logos">
    <li>
        <img src="/img/logo-partner__to-transavia-france.svg" alt="Partner logo Metro" />
    </li>
    <li>
        <img src="/img/logo-partner__to-transavia-france.svg" alt="Partner logo transavia" />
    </li>
    <li>
        <img src="/img/logo-partner__wow-air.svg" alt="Partner logo WOW-air" />
    </li>
    <li>
        <img src="/img/logo-partner__ing.svg" alt="Partner logo ING" />
    </li>
    <li>
        <img src="/img/logo-partner__kpn.svg" alt="Partner logo KPN" />
    </li>
</ul>