<section class="layout layout--single space-header-page">
    <div class="section-standout__logo {% if include.logoWide == true %}section-standout__logo--wide{% endif %}">
        <img src="{{include.productLogoSrc}}" alt="{{include.productLogoAlt}}" />
    </div>
    <div class="space-header-section header--centered">
        <h1 class="title-page">{{include.title}}</h1>
        {% if include.payoff != '' %}
            <div class="section__payoff">
                {{include.payoff}}
            </div>
        {% endif %}
    </div>
    <div class="section-standout__text--centered">
        <p>{{include.intro}}</p>
    </div>
</section>