<footer class="{% if include.footerOverlay == true %}site-footer--overlay{% endif %}{% if page.footer_squared == true %}site-footer--square{% endif %}">
	<section class="footer-links">
		<ul class="list-ui-hor">
			<li><a href="/privacy/">Privacy Policy</a></li>
			<li><a href="/disclaimer/">Disclaimer</a></li>
			<li><a href="/playbook/">SeMI Playbook</a></li>
			<li><a href="mailto:contact@semi.technology">Contact SeMI</a></li>
		</ul>
	</section>
	<small class="footer-copyright">Copyright © {{ 'now' | date: "%Y" }} SeMI. All Rights Reserved.</small>
</footer>

{% if layout.serviceManual %}
	<script src="/js/mainSm.bundle.js"></script>
{% else %}
	<script src="/js/main.bundle.js"></script>
{% endif %}

</body>
</html>
