<ul class="cards">

    {% include components/card/card.html
        title="Point solution 1"
        inDevelopment=true
        bodycopy="Function Function USP lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum."
        themeClass="card--theme-network"
        imgUrl="/img/logo-icon-weaviate.svg"
        linkUrl="/products/networking.html"
    %}

    {% include components/card/card.html
        title="Point solution 2"
        inDevelopment=true
        bodycopy="Function Function USP lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum"
        imgUrl="/img/logo-icon-weaviate.svg"
        linkUrl="/products/semi-consulting.html"
    %}

    {% include components/card/card.html
        title="Point solution 3"
        inDevelopment=true
        bodycopy="Function Function USP lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum lorum ipsum"
        themeClass="card--theme-keyper"
        imgUrl="/img/logo-icon-weaviate.svg"
        linkUrl="/products/keyper.html"
    %}

</ul>
