<footer class="{% if include.footerOverlay == true %}site-footer--overlay{% endif %}{% if page.footer_squared == true %}site-footer--square{% endif %}">
	<section class="footer-links">
		<ul class="list-ui-hor">
			<li><a href="/disclaimer/">Disclaimer</a></li>
			<li><a href="/playbook/">SeMI Playbook</a></li>
			<li><a href="https://twitter.com/SeMI_tech" target="_blank">Twitter</a></li>
			<li><a href="https://www.linkedin.com/company/semi-technologies" target="_blank">LinkedIn</a></li>
		</ul>
		<small>
			Copyright © {{ 'now' | date: "%Y" }} SeMI Technologies. All Rights Reserved.
		</small>
	</section>
</footer>

{% if layout.serviceManual %}
	<script src="/js/mainSm.bundle.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>
{% else %}
	<script src="/js/main.bundle.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>
{% endif %}

</body>
</html>
