<ul class="cards">

    {% include components/card/card.html
        title="Weaviate Keyper"
        bodycopy="Couple Weaviates together within and between organisations for enhanced productivity."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-keyper.svg"
        linkUrl="/products/keyper.html"
    %}

    {% include components/card/card.html
        title="Solution Engineers"
        bodycopy="Our solution engineers are ready to help you to get started and grow your Weaviate."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-icon-semi-consulting.svg"
        linkUrl="/products/solution-engineers.html"
    %}

    {% include components/card/card.html
        title="Tableau"
        bodycopy="Use Tableau to visualise your Weaviate data."
        themeClass="card--white card--theme-weaviate"
        imgUrl="/img/logo-external-tableau.svg"
        linkUrl="/products/tableau.html"
        logoWide=true
    %}

</ul>
