<ul class="cards">

    {% include components/card/card.html
        title="Networking"
        bodycopy="Software tools and support to create powerful, cross company networks."
        themeClass="card--theme-weaviate"
        imgUrl="/img/logo-icon-weaviate.svg"
        linkUrl="/products/networking.html"
    %}

    {% include components/card/card.html
        title="SeMI Consulting"
        bodycopy="From software to data monetization, our consultants are ready to help you to get started with Weaviate."
        imgUrl="/img/logo-icon-semi-consulting.svg"
        linkUrl="/products/semi-consulting.html"
    %}

</ul>