<div class="container">
    <nav id="js-site-nav" class="nav-main wrapper--wide">
        <ul>
            <li class="nav-main--home"><a href="/">home</a></li>
            <li class="nav-main--services"><a href="/services/">services</a></li>
            <li class="nav-main--products"><a href="/products/">products</a></li>
            <li class="nav-main--use-cases"><a href="/use-cases/">use cases</a></li>
            <li class="nav-main--blog"><a href="/blog/">blog</a></li>
            <li class="nav-main--github"><a href="https://github.com/semi-technologies" target="_blank">github</a></li>
            <li class="nav-main--contact"><a href="javascript:void(Tawk_API.toggle())">contact</a></li>
            <!--li class="hidden-m-up"><a class="nav-main-console button--small" href="/console/">Console</a></li-->
            <li class="hidden-m-up"><a class="github-button" href="https://github.com/semi-technologies/weaviate" data-size="large" data-show-count="true" aria-label="Star semi-technologies/weaviate on GitHub">Star</a></li>
        </ul>
    </nav>
</div>
