<ul class="cards">

    {% include components/card/card.html
        title="SeMI Network Nodes"
        bodycopy="Add knowledge to your Weaviate and tap into supplementary commonly used data for enrichment and context."
        themeClass="card--theme-network"
        imgUrl="/img/logo-icon-weaviate-network.svg"
        linkUrl="/products/networking.html"
    %}

    {% include components/card/card.html
        title="Weaviate Keyper"
        bodycopy="Couple Weaviates together within and between organisations for enhanced productivity."
        themeClass="card--theme-weaviate"
        imgUrl="/img/logo-keyper.svg"
        linkUrl="/products/keyper.html"
    %}

    {% include components/card/card.html
        title="SeMI Consulting"
        bodycopy="Our consultants are ready to help you to get started and grow your Weaviate."
        imgUrl="/img/logo-icon-semi-consulting.svg"
        linkUrl="/products/semi-consulting.html"
    %}

</ul>
