---
bodyclass: page--knowledge-base
layout: layout-default
title: SeMI, the knowledge Base
description: SeMI's Knowledge Base.
---

<!-- THIS PAGE CONTAINS THE COMPLETE INDEX -->

<article class="container">
    <div class="wrapper">
        <h1 class="header-page header--centered title-page">Knowledge Base</h1>
        <section class="form-inline">
            {%  include components/searchform/search.html %}
        </section>

    <!--
        {% assign items_grouped = site.pages | group_by: 'topic' | sort: 'topic' %}
        <ul class="article-index">
            {% for group in items_grouped %}
                <li>
                    <section>
                        <a href="{{ group.name }}">{{ group.name }}</a></h2>
                    </section>
                </li>
            {% endfor %}
        </ul>
    -->

        <ul class="cards">
            <li class="card card--borderless">
                <img src="/img/logo-icon-semi-consulting.svg" title="Logo Semi Consulting" />
                <div class="card__content">
                    <h2 class="header-column header--centered title-column">SeMI Knowledge Base</h2>
                    <p>SeMI's Knowledge Base contains a wide variety of documents and posts about our products and services.</p>
                </div>
                <div class="card__button button-center-container">
                    <a class="button button--cta-inverted" href="/knowledge-base/wiki-semi-consulting/learn/executive-summary">Access our Knowledge Base</a>
                </div>
            </li>
            <li class="card card--borderless">
                <img src="/img/logo-icon-weaviate.svg" title="Logo weaviate" />
                <div class="card__content">
                    <h2 class="header-column header--centered title-column">Weaviate Documentation</h2>
                    <p>All documentation can be found on Github.</p>
                </div>
                <div class="card__button button-center-container">
                    <a class="button button--cta-inverted" href="https://github.com/creativesoftwarefdn/weaviate#references">Learn more on Github</a>
                </div>
            </li>
        </ul>

        </section>
    </div>
</article>
