
.quote--jumbo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__content {
  font-size: 3rem;
  font-family: 'Alegreya', serif;
  font-style: italic;
  text-align: center;
  &:before {
    content: '\201c';
  }
  &:after {
    content: '\201d';
  }
}

.quote__author {
  background-color: grey; // placeholder
  border-radius: 50%;
  display: block;
  height: 100px;
  overflow: hidden;
  width: 100px;
}
