
@import 'mixins-breakpoints';

.hero {
  width: 100%;
  height: 100vh;
  min-height: 30em;
  max-height: 150vw;
  position: relative;
  overflow: hidden;
  background-color: $color-black;
}

.hero__content {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.hero__text {
  margin: 11rem 2em 0;
  position: relative;
  vertical-align: middle;
  z-index: 2;

  @include breakpoint(mediumUp) {
    margin-top: 15rem;
    max-width: 60vw;
  }
  @include breakpoint(largeUp) {
    max-width: 50vw;
  }

  .button {
    margin-top: 1rem;
  }
}

.hero__cover {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  video {
    width: 100%;
    max-width: none;
    height: 100vh;
    min-height: 30em;
    max-height: 150vw;
    display: block;
    object-fit: cover;
  }

  &:before {
    content: '';
    background-color: #00152bd4;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

