
@import 'mixins-background-patterns';

.section-standout--secondary {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  @include background-pattern-semi-hexagon($color-white);
}

.section-standout--tertiary {
  background-color: $color-almostblack;
  h1, h2, h3, p, a, figcaption, figcaption a {
    color: $color-white;
  }
  .layout--single {
    padding-top: 3.5em;
    padding-bottom: 3.5em;
  }
}

.section-standout__text--centered {
  text-align: center;
}

.section__content {
  display: flex;
}

.column__image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.column__content {
  padding: 1rem;
  .header-section {
    margin-bottom: 1rem;
  }
}
