.search-meta {
    display: flex;
    flex-wrap: wrap;
    label {
        flex: 100%;
    }
    [type='search'] {
    	border-top-right-radius: 0;
        flex: 1;
        padding-right: 1.8125em; // 29px
    	~ [type='submit'] {
        	margin-left: -1.5em;
            padding: 0 .8125em;
        	&:hover, &:focus, &:active {
            	border-bottom-left-radius: 0;
            }
    	}
    }
}