@import '_mixins-breakpoints.scss';

footer {
	padding: 2em;
	color: $color-white;
	@media screen and (min-width: 48em) {
		display: flex;
		justify-content: space-between;
	}
}

footer:not(.site-footer--overlay) {
	background: $color-black;
	border-top-left-radius: $scale-1;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-footer--overlay {
	width: 100%;

	@media (min-height: 45rem) {
		position:absolute;
		bottom: 0;
	}
}

.footer-links {
	li {
    	font-size: 1em;
	}
}

.footer-copyright {
	text-align: left;
}
