/**
 * Section and column headers
 * Defines spacing and alignment for titles and headings (not font-sizes)
 */

.header-main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 0;
    source, img {
        height: 4em;
    }
}

.header-page {
  margin-top: 3rem; // 48px
  margin-bottom: 3rem; // 48px
}

.header-section {
  margin-bottom: 2rem; // 32px
}

.header-column {
  margin-top: 1rem; // 16px
  margin-bottom: 1rem; // 16px
}

.header--centered {
  text-align: center;
}

.section__payoff {
    font-family: $typeface-sans;
    font-weight: 500;
    margin-bottom: 3rem; // 32px
}
