
/**
 * Section and column headings
 * Defines spacing and alignment for titles and headings
 */

.section__heading--centered {
  text-align: center;
}

.section__payoff {
  font-family: $typeface-sans;
  font-weight: 500;
  margin-bottom: 3rem; // 32px
}
