
.layout {
  display: flex;
}

.layout--single {
  flex-direction: column;
  align-items: center;
}

.layout--double {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  flex-direction: column;
}

@media screen and (min-width: 48em) {
  .layout--double:last-child {
    padding-bottom: 3rem;
  }
  .layout--double:not(.layout--double-reverse) {
    flex-direction: row;
  }
  .layout--double-reverse {
    flex-direction: row-reverse;
  }

  // makes a gutter of 2 rem in the center,
  // while keeping the content left and right aligned to the
  // outer borders
  .layout:not(.layout--double-reverse) {
    .layout__column {
      &:first-child {
        padding-right: 1rem;
      }
      &:last-child {
        padding-left: 1rem;
      }
    }
  }

  .layout.layout--double-reverse {
    .layout__column {
      &:last-child {
        padding-right: 1rem;
      }
      &:first-child {
        padding-left: 1rem;
      }
    }
  }
}

.layout__column {
  flex: 1;
  > img {
    margin: auto;
    display: flex;
  }
  h3 {
    margin-top: 1.5rem;
  }
}
