.space-header-page {
  margin-top: $scale-3;
  margin-bottom: $scale-1;
}

.space-header-section {
  margin-bottom: $scale-1;
}

.space-header-column {
  margin-top: $scale-0;
  margin-bottom: $scale-0;
}

.space-section-intro {
  margin-top: $scale-0;
  margin-bottom: $scale-4;
}

.space-section-last {
  margin-top: $scale-5;
  margin-bottom: $scale-5;
}

.space-layout {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.space-layout--top {
  padding-top: 1.5rem;
}

.space-layout-top--large {
  padding-top: 5rem;
}

.space-layout--bottom {
  padding-bottom: 1.5rem;
}