
@mixin background-pattern-semi-hexagon($background-color: white) {
  background: $background-color url('/img/pattern-semi-hexagons.svg') -2rem 2rem no-repeat;
  background-size: auto;
  @-moz-document url-prefix() {
    background-image: url('/img/pattern-semi-hexagons.png'); // Mozilla dislikes huge SVG backgrounds
  }
}
