// Begin: Service Manual

@mixin style-sm-section-separator-block() {
	border-bottom: 6px solid $color-black;
}

.style-sm .wrapper  {

	> .style-sm-section {
    	margin-bottom: 3em;
    	padding-bottom: 3em;
		@include style-sm-section-separator-block;
    	> h3, > h4, > h5 {
        	margin: 2em 0 1em;
    	}
    	section {
        	margin-bottom: 1em;
    	}
	}
	code {
    	max-width: 100%;
	}
}

.style-sm-section-separator-block {
	@include style-sm-section-separator-block;

	&.style-sm-section-separator-block--spacing {
		margin-top: 3em;
		margin-bottom: 3em;
	}

	&.style-sm-section-separator-block--spacing-top {
		margin-top: 3em;
	}

	&.style-sm-section-separator-block--spacing-bottom {
		margin-bottom: 3em;
	}
}


.style-sm-overview {
    column-count: 2;
    li:before {
        margin-left: 0 !important;
    }
}

.body--service-manual::before {
	background: $color-helper-2;
	border-radius: $border-radius-2;
	color: $color-helper-1;
	content: 'brkpnt small';
	opacity: .5;
	padding: .5em 3em;
	right: 0;
	position: fixed;
  top: 0;
  display: none !important; 
}

.style-sm-codesnippet {
    @include transition-out;
    border: 1px solid $color-semi-tint--2;
    border-radius: $border-radius-3;
    margin: 1em 0 2em;
    opacity: .5;
    p {
        padding: .25em 1em 0;
    }
    xmp {
        background: $color-gray-7;
        border-radius: $border-radius-1;
        color: $color-almostblack-analogous-tint--5;
        max-width: 100%;
        padding: 1em;
        white-space: pre-line;
    }
    &:hover {
        @include transition-in;
        opacity: 1;
    }
}

@include breakpoint(smallToMedium) {
	.body--service-manual::before {
		content: 'brkpnt medium';
	}
}
@include breakpoint(mediumToLarge) {
	.body--service-manual::before {
		content: 'brkpnt large';
	}
}
@include breakpoint(largeUp) {
	.body--service-manual::before {
		content: 'brkpnt extralarge';
	}
}

.dimension {
	li {
		list-style: none;
		margin-bottom: $scale-0;
		&:after {
			border: 1px dotted $color-helper-1;
			content: '';
			background: $color-helper-2;
			display: block;
		}
	}
}
.dimension-scale-0:after {
	height: $scale-0;
	width: $scale-0;
}
.dimension-scale--1:after {
	height: $scale--1;
	width: $scale--1;
}
.dimension-scale-1:after {
	height: $scale-1;
	width: $scale-1;
}
.dimension-scale-2:after {
	height: $scale-2;
	width: $scale-2;
}
.dimension-scale-3:after {
	height: $scale-3;
	width: $scale-3;
}
.dimension-scale-4:after {
	height: $scale-4;
	width: $scale-4;
}
.dimension-scale-5:after {
	height: $scale-5;
	width: $scale-5;
}
.dimension-scale-6:after {
	height: $scale-6;
	width: $scale-6;
}

.style-sm-palette {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	h3 {
    	font-size: 1.15rem;
    	margin-top: 3em;
	}
}

.style-sm-swatch {
	list-style: none;
	margin-bottom: 2em;
	width: 8em;
	li {
		font-size: .75em;
		padding: 0;
		&:not(:first-of-type) {	
			color: $color-gray-3;
		}
	}
	i {
		&:before {
			background: $color-semi;
			content: '';
			display: block;
			height: 5em;
			margin-bottom: .5em;
		}
	}
}

.style-sm-swatch--color-semi-tint--5 i:before {background: $color-semi-tint--5;}
.style-sm-swatch--color-semi-tint--4 i:before {background: $color-semi-tint--4;}
.style-sm-swatch--color-semi-tint--3 i:before {background: $color-semi-tint--3;}
.style-sm-swatch--color-semi-tint--2 i:before {background: $color-semi-tint--2;}
.style-sm-swatch--color-semi-tint--1 i:before {background: $color-semi-tint--1;}
.style-sm-swatch--color-semi-tint-1 i:before {background: $color-semi-tint-1;}
.style-sm-swatch--color-semi-tint-2 i:before {background: $color-semi-tint-2;}
.style-sm-swatch--color-semi-tint-3 i:before {background: $color-semi-tint-3;}
.style-sm-swatch--color-semi-tint-4 i:before {background: $color-semi-tint-4;}

.style-sm-swatch--color-semi-accent-tint--5 i:before {background: $color-semi-accent-tint--5;}
.style-sm-swatch--color-semi-accent-tint--4 i:before {background: $color-semi-accent-tint--4;}
.style-sm-swatch--color-semi-accent-tint--3 i:before {background: $color-semi-accent-tint--3;}
.style-sm-swatch--color-semi-accent-tint--2 i:before {background: $color-semi-accent-tint--2;}
.style-sm-swatch--color-semi-accent-tint--1 i:before {background: $color-semi-accent-tint--1;}
.style-sm-swatch--color-semi-accent i:before {background: $color-semi-accent;}
.style-sm-swatch--color-semi-accent-tint-1 i:before {background: $color-semi-accent-tint-1;}
.style-sm-swatch--color-semi-accent-tint-2 i:before {background: $color-semi-accent-tint-2;}
.style-sm-swatch--color-semi-accent-tint-3 i:before {background: $color-semi-accent-tint-3;}
.style-sm-swatch--color-semi-accent-tint-4 i:before {background: $color-semi-accent-tint-4;}


.style-sm-swatch--color-interactive--5 i:before {background: $color-interactive-tint--5;}
.style-sm-swatch--color-interactive--4 i:before {background: $color-interactive-tint--4;}
.style-sm-swatch--color-interactive--3 i:before {background: $color-interactive-tint--3;}
.style-sm-swatch--color-interactive--2 i:before {background: $color-interactive-tint--2;}
.style-sm-swatch--color-interactive--1 i:before {background: $color-interactive-tint--1;}
.style-sm-swatch--color-interactive i:before {background: $color-interactive;}
.style-sm-swatch--color-interactive-1 i:before {background: $color-interactive-tint-1;}
.style-sm-swatch--color-interactive-2 i:before {background: $color-interactive-tint-2;}
.style-sm-swatch--color-interactive-3 i:before {background: $color-interactive-tint-3;}
.style-sm-swatch--color-interactive-4 i:before {background: $color-interactive-tint-4;}

.style-sm-swatch--color-olive--5 i:before {background: $color-support-tint--5;}
.style-sm-swatch--color-olive--4 i:before {background: $color-support-tint--4;}
.style-sm-swatch--color-olive--3 i:before {background: $color-support-tint--3;}
.style-sm-swatch--color-olive--2 i:before {background: $color-support-tint--2;}
.style-sm-swatch--color-olive--1 i:before {background: $color-support-tint--1;}
.style-sm-swatch--color-olive i:before {background: $color-support;}
.style-sm-swatch--color-olive-1 i:before {background: $color-support-tint-1;}
.style-sm-swatch--color-olive-2 i:before {background: $color-support-tint-2;}
.style-sm-swatch--color-olive-3 i:before {background: $color-support-tint-3;}
.style-sm-swatch--color-olive-4 i:before {background: $color-support-tint-4;}

.style-sm-swatch--color-olive-analogous--9 i:before {background: $color-olive-analogous-tint--9;}
.style-sm-swatch--color-olive-analogous--8 i:before {background: $color-olive-analogous-tint--8;}
.style-sm-swatch--color-olive-analogous--7 i:before {background: $color-olive-analogous-tint--7;}
.style-sm-swatch--color-olive-analogous--6 i:before {background: $color-olive-analogous-tint--6;}
.style-sm-swatch--color-olive-analogous--5 i:before {background: $color-olive-analogous-tint--5;}
.style-sm-swatch--color-olive-analogous--4 i:before {background: $color-olive-analogous-tint--4;}
.style-sm-swatch--color-olive-analogous--3 i:before {background: $color-olive-analogous-tint--3;}
.style-sm-swatch--color-olive-analogous--2 i:before {background: $color-olive-analogous-tint--2;}
.style-sm-swatch--color-olive-analogous--1 i:before {background: $color-olive-analogous-tint--1;}
.style-sm-swatch--color-olive-analogous i:before {background: $color-olive-analogous;}

.style-sm-swatch--color-olive-triadic--9 i:before {background: $color-olive-triadic-tint--9;}
.style-sm-swatch--color-olive-triadic--8 i:before {background: $color-olive-triadic-tint--8;}
.style-sm-swatch--color-olive-triadic--7 i:before {background: $color-olive-triadic-tint--7;}
.style-sm-swatch--color-olive-triadic--6 i:before {background: $color-olive-triadic-tint--6;}
.style-sm-swatch--color-olive-triadic--5 i:before {background: $color-olive-triadic-tint--5;}
.style-sm-swatch--color-olive-triadic--4 i:before {background: $color-olive-triadic-tint--4;}
.style-sm-swatch--color-olive-triadic--3 i:before {background: $color-olive-triadic-tint--3;}
.style-sm-swatch--color-olive-triadic--2 i:before {background: $color-olive-triadic-tint--2;}
.style-sm-swatch--color-olive-triadic--1 i:before {background: $color-olive-triadic-tint--1;}
.style-sm-swatch--color-olive-triadic i:before {background: $color-olive-triadic;}

.style-sm-swatch--color-almost-black--9 i:before {background: $color-almostblack-tint--9;}
.style-sm-swatch--color-almost-black--8 i:before {background: $color-almostblack-tint--8;}
.style-sm-swatch--color-almost-black--7 i:before {background: $color-almostblack-tint--7;}
.style-sm-swatch--color-almost-black--6 i:before {background: $color-almostblack-tint--6;}
.style-sm-swatch--color-almost-black--5 i:before {background: $color-almostblack-tint--5;}
.style-sm-swatch--color-almost-black--4 i:before {background: $color-almostblack-tint--4;}
.style-sm-swatch--color-almost-black--3 i:before {background: $color-almostblack-tint--3;}
.style-sm-swatch--color-almost-black--2 i:before {background: $color-almostblack-tint--2;}
.style-sm-swatch--color-almost-black--1 i:before {background: $color-almostblack-tint--1;}
.style-sm-swatch--color-black i:before {background: $color-almostblack;}

.style-sm-swatch--color-almost-black-analogous--9 i:before {background: $color-almostblack-analogous-tint--9;}
.style-sm-swatch--color-almost-black-analogous--8 i:before {background: $color-almostblack-analogous-tint--8;}
.style-sm-swatch--color-almost-black-analogous--7 i:before {background: $color-almostblack-analogous-tint--7;}
.style-sm-swatch--color-almost-black-analogous--6 i:before {background: $color-almostblack-analogous-tint--6;}
.style-sm-swatch--color-almost-black-analogous--5 i:before {background: $color-almostblack-analogous-tint--5;}
.style-sm-swatch--color-almost-black-analogous--4 i:before {background: $color-almostblack-analogous-tint--4;}
.style-sm-swatch--color-almost-black-analogous--3 i:before {background: $color-almostblack-analogous-tint--3;}
.style-sm-swatch--color-almost-black-analogous--2 i:before {background: $color-almostblack-analogous-tint--2;}
.style-sm-swatch--color-almost-black-analogous--1 i:before {background: $color-almostblack-analogous-tint--1;}
.style-sm-swatch--color-almost-black-analogous i:before {background: $color-almostblack-analogous;}

.style-sm-swatch--color-almost-black-triadic--9 i:before {background: $color-almostblack-triadic-tint--9;}
.style-sm-swatch--color-almost-black-triadic--8 i:before {background: $color-almostblack-triadic-tint--8;}
.style-sm-swatch--color-almost-black-triadic--7 i:before {background: $color-almostblack-triadic-tint--7;}
.style-sm-swatch--color-almost-black-triadic--6 i:before {background: $color-almostblack-triadic-tint--6;}
.style-sm-swatch--color-almost-black-triadic--5 i:before {background: $color-almostblack-triadic-tint--5;}
.style-sm-swatch--color-almost-black-triadic--4 i:before {background: $color-almostblack-triadic-tint--4;}
.style-sm-swatch--color-almost-black-triadic--3 i:before {background: $color-almostblack-triadic-tint--3;}
.style-sm-swatch--color-almost-black-triadic--2 i:before {background: $color-almostblack-triadic-tint--2;}
.style-sm-swatch--color-almost-black-triadic--1 i:before {background: $color-almostblack-triadic-tint--1;}
.style-sm-swatch--color-almost-black-triadic i:before {background: $color-almostblack-triadic;}

.style-sm-swatch--color-gray-1 i:before {background: $color-gray-1;}
.style-sm-swatch--color-gray-2 i:before {background: $color-gray-2;}
.style-sm-swatch--color-gray-3 i:before {background: $color-gray-3;}
.style-sm-swatch--color-gray-4 i:before {background: $color-gray-4;}
.style-sm-swatch--color-gray-5 i:before {background: $color-gray-5;}
.style-sm-swatch--color-gray-6 i:before {background: $color-gray-6;}
.style-sm-swatch--color-gray-7 i:before {background: $color-gray-7;}

.style-sm-swatch--color-info i:before {background: $color-info;}
.style-sm-swatch--color-info-bg i:before {background: $color-info-bg;}
.style-sm-swatch--color-success i:before {background: $color-success;}
.style-sm-swatch--color-success-bg i:before {background: $color-success-bg;}
.style-sm-swatch--color-warning i:before {background: $color-warning;}
.style-sm-swatch--color-warning-bg i:before {background: $color-warning-bg;}

.style-sm-swatch--color-mark i:before {background: $color-mark;}

.style-sm-grid {
	ul {
		display: grid;
		grid-gap: 1em;
		grid-template-columns: repeat(12, 1fr);
		list-style: none;
	}
	li {
		background: $color-helper-2;
		border: 1px dotted $color-helper-1;
		height: 6em;
	}
}

.style-sm-ui-layout {
	display: flex;
	background-color: $color-helper-3; // area of margin created by 0  auto
}

.style-sm-ui-layout__item {
	height: 6em;
	background: $color-helper-2;
	border: 1px dotted $color-helper-1;
	justify-content: space-around;

	&:first-child,
	&:last-child {
		width: $application-gutter;
	}
}

.style-sm-ui-layout__fill-column {
	background: $color-helper-2;
}

.style-sm-ui-layout__wrapper {
	@extend .wrapper;
	width: 100vw; // make example wrapper full width
}

.style-sm-logo {
    padding: 3em;
}

.inverse {
    @include transition-out;
    background: $color-semi;
    &:hover {
        @include transition-in;
        background: $color-black;
    }
}

.style-sm-tween {
    @include transition-out;
    align-items: center;
    background: $color-semi;
    border-radius: 5em;
    color: $color-white;
    display: flex;
    height: 5em;
    justify-content: center;
    outline: 1em solid transparant;
    width: 5em;
    &:hover {
        @include transition-in;
        background: $color-support;
        border-radius: 0;
        color: $color-black;
        outline: 1em solid $color-semi;
    }
}

[contenteditable] {
    @include transition-out;
    cursor: hand;
    position: relative;
    &:after {
        @include transition-out;
        background: $color-semi-accent;
        border-radius: $border-radius-2;
        color: $color-white;
        content: 'Edit me';
        font-family: $typeface-body;
        font-size: .85rem;
        left: -1.5em;
        opacity: 0;
        padding: .25em .5em;
        position: absolute;
        top: -1.5em;
    }
    &:hover {
        @include transition-in;
        //background: $color-gray-7;
        cursor: hand;
        &:after {
            @include transition-in;
            border-radius: $border-radius-1;
            opacity: 1;
        }
    }
}

.sg-svg-image-text {
	font-family: $typeface-body;
}

.style-sm-figure {
  display: flex;
  flex-direction: column;
  img {
    align-self: self-start;
  }
  figcaption {
    flex-direction: column;
    display: inline;
  }
}

// center images on small screen sizes
@media screen and (max-width: 48em) {
  .style-sm-figure {
    img {
      align-self: center;
    }
    figcaption {
      justify-content: center;
      align-items: center;
    }
  }
}
// figure caption difference between small and large screen sizes
@media screen and (min-width: 48em) {
  .style-sm-figure figcaption {
    align-items: flex-start;
  }
}

.style-sm-figure-graphic {
  &:not(.style-sm-figure-graphic--large) img {
    max-height: 240px;
  }
  &.style-sm-figure-graphic--large img {
    max-height: 480px;
  }
  &.style-sm-figure-graphic--center img {
    align-self: center;
  }
}

.style-sm-figure-icon {
  img {
    align-self: center;
    max-width: 50%;
    max-height: 200px;
    &.style-sm-graphic-elements-icons-example {
      width: 550px;
      max-width: 80%;
    }
  }
  &.style-sm-figure-icon--small img {
    width: 100px;
    height: 160px;
  }
}

.semi-sm-download {
  display: inline-block;
  float: left;
  clear: left;
}

.style-sm-figure--background-dark img {
  background-color: $color-almostblack;
}

.style-sm-color-recommended {
  color: $color-semi-accent;
}
.style-sm-color-reject {
  color: $color-warning;
}

// even out images
.style-sm-page__graphic-playground .style-sm-figure-icon img {
  width: 100px;
  height: 160px;
}

// even out images
.style-sm-page__graphic-iconography .style-sm-figure-icon img {
  min-height: 170px;
}

// even out images
@media screen and (min-width: 48em) {
  .style-sm-page__graphic-showcaseimages {
    .style-sm-figure-graphic {
      height: 100%;
      justify-content: flex-end;
      img {
        align-self: center;
      }
      // specific image which should be a bit smaller visually
      &.style-sm-custom-image-1 {
        img {
          height: 170px;
        }
      }
    }
  }
}

// End: Service Manual
