// Temporary console page styling (prototype)
// all styles are  custom and are  subject to refactoringin the  future
// however, some styles might be subtracted from this specific console page styling
// to create  a general pattern.

$ui-font-size: 1rem;

@mixin tmp-paper-shade() {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.page--console {
  .header-container {
    background-color: $color-almostblack;
  }
  .nav-main li a {
    color: $color-white;
  }
  main {
    padding-bottom: 3.5em;
  }
}

.tmp-app-nav {
  border-bottom: 1px solid $color-almostblack;

  > .container {
    width: 100%;
  }
}

.tmp-tab-group {
  min-height: 48px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.tmp-tab {
  display: flex;
  &.tmp-tab--pull-right {
    margin-left: auto;
  }
  .tmp-tab__label {
    font-size: $ui-font-size;
    padding: 1rem .5em .75em;
    &.tmp-tab__label--active {
      color: $color-semi;
      border-bottom: 2px solid $color-semi;
    }
  }
}

.tmp-filters {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  @media screen and (max-width: 48em) {
    flex-direction: column;
  }
  @media screen and (min-width: 48em) {
    flex-direction: row;
  }
}

@media screen and (max-width: 48em) {
  .page--console .layout {
    flex-direction: column;
  }
  .tmp-card-data-summary {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 48em) {
  .page--console .layout {
    flex-direction: row;
  }
}

@media screen and (min-width: 48em) {
  .tmp-layout-aside {
    flex-grow: 1;
    padding-right: .5rem;
    // TODO refactor, too specific
    .tmp-card-paper {
      margin-bottom: 1rem;
    }
  }
  .tmp-layout-main {
    flex-grow: 6;
    padding-left: .5rem;
  }
}

.tmp-card-paper {
  @include  tmp-paper-shade;
  padding: .5rem;
}

.tmp-ui-icon {
  width: 1rem;
  height:  1rem;
  display: block;
}

.tmp-table-container {
  width: 100%;
  overflow-x: auto;
}

.tmp-table-data {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;
  th, td {
    font-size: 1rem;
    padding: .25rem .5rem;
  }
  :not(tfoot) {
    tr  {
      border-bottom: 1px solid $color-gray-6;
    }
  }
  tbody th {
    min-width: 150px;
  }
  tfoot {
    min-height: 4rem;
    th, td {
      vertical-align: middle; // all elements in tfoot should be vertically middle aligned
      white-space: normal; // reset global table white-space
      padding-top: .5rem;
      span {
        display: inline-block;
        padding: .5rem 0;
        vertical-align: middle;
        &:last-child {
          margin-right: .5rem;
        }
      }
    }
  }
}

.tmp-table-data__cell--align-right {
  text-align: right;
}

.tmp-table-data__cell--align-center {
  text-align: center;
}

.tmp-table-data__cell-with-img {
  vertical-align: middle;
  white-space: normal;
}

.tmp-table-data__pagination  {
  margin-right: 1rem;
}

.tmp-table-data__prev-next {
  &:hover {
    cursor: pointer;
  }
}

.tmp-table-data__prev-next--disabled {
  img {
    opacity: .2;
  }
  &:hover {
    cursor: not-allowed;
  }
}

.tmp-section-page {
  margin-top: 3rem;
}

.tmp-typography-heading-3 {
  // raise specificity
  // TODO if used, refactor to proper style in _style-typography.scss
  &.tmp-typography-heading-3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Alegreya Sans",sans-serif;
    // TODO move to proper header margin surrounding the heading
    margin-bottom: 1rem;
  }
}

.tmp-text-jumbo {
  font-size: 2rem;
  font-weight: bold;
}

.tmp-card-data-summary {
  padding: 1rem;
  p {
    margin-bottom: 0;
  }
}

// CSS clipping technique to visually hide it but not for screen readers
// source: https://www.nomensa.com/blog/2017/how-improve-web-accessibility-hiding-elements
.tmp-a11y-hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
