
.page--products--semi-consulting {
  .section--help {
    margin-top: 3rem;
    .column__image {
      height: 15rem;
    }
  }
  .quote--jumbo {
    margin-bottom: 5rem;
  }
  @media screen and (min-width: 48em) {
    .quote--jumbo {
      margin-top: 5rem;
      margin-bottom: 8rem;
    }
  }
  .image-large {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}
