.page--home {
    background: $color-semi;
    // background: url('/img/pattern-semi.svg');
    background: url('/img/pattern-semi.png');
    @media screen and (min-width: 56em) {
        background-size: 140%;
        background-position: center -190px;
    }
    //@-moz-document url-prefix() {
    //    background: url('/img/pattern-semi.png'); // Mozilla dislikes huge SVG backgrounds
    //    background-size: cover;
    //}
    p a {
        border-color: $color-support-tint-4;
        color: $color-almostblack;
        &:hover, &:focus, &:active {
            background-color: $color-white;
            border-color: transparent;
            color: $color-almostblack;
            outline-color: $color-white;
        }
    }
    #cookie-notification a {
        color: $color-almostblack;
    }
    .nav-main {
        
        li {
            a {
                color: $color-white;
            }
        }
    }
    .nav-main-contact {
        display: none;
    }
    h1 {
        color: $color-almostblack-tint--3;
        color: $color-white;
        font-size: 3.75rem;
        font-style: italic;
        padding: 1em 0 1em;
        em {
            color: $color-semi-tint-2;
            color: $color-almostblack;
        }
    }
    .button--cta {
        margin-bottom: 3em;
    }
}

.section-heading--primary {
    div {
        margin: 0 auto 3em;
        max-width: $component-primary-max-width;
        text-align: center;
    }
    p {
        color: $color-white;
        a {
            border-bottom-color: $color-white;
            color: $color-white;
        }
    }
    @media screen and (min-width: 48em) {
        h1 {
            font-size: 4.25rem;
        }
        p {
            font-size: 1.75rem;
        }
        .button--cta {
            font-size: 1.25rem;
        }
    }
}

.section-partners {
    padding: 3rem 0;
}

.pattern-semi-bg {
    fill: red;
}