// Temporary console page styling (prototype)
// all styles are  custom and are  subject to refactoringin the  future
// however, some styles might be subtracted from this specific console page styling
// to create  a general pattern.

$ui-font-size: 1rem;

.page--console {
  .header-container {
    background-color: $color-almostblack;
  }
  .nav-main li a {
    color: $color-white;
  }

  .app-nav {
    border-bottom: 1px solid $color-almostblack;

    > .container {
      width: 100%;
    }
  }

  .tab-group {
    min-height: 48px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .tab {
    display: flex;
    &.tab--pull-right {
      margin-left: auto;
    }
    .tab__label {
      font-size: $ui-font-size;
      padding: 1rem .5em .75em;
      &.tab__label--active {
        color: $color-semi;
        border-bottom: 2px solid $color-semi;
      }
    }
  }
}

// CSS clipping technique to visually hide it but not for screen readers
// source: https://www.nomensa.com/blog/2017/how-improve-web-accessibility-hiding-elements
.a11y-hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
