---
bodyclass: page--solutions
layout: layout-default
title: SeMI, our services
description: An overview of SeMI's services.
open-graph-type: product
footer_squared: true
---

<article>
    <div class="container background-hexagon">
        <section class="layout layout--single section-page-intro">
            <div class="section-standout__text--centered space-header-page">
                <h1 class="title-page header--centered">Services</h1>
                <div class="section-standout__text--centered">
                    <p>SeMI helps you to build knowledge graphs from the middle of your technology stack all the way to the end-users. </p>
                </div>
            </div>
        </section>

        <section class="wrapper layout--vertical-center">
            {% capture imageColumn %}
            <img class="section--img-playground" src="/img/Weaviate-what-we-do-1@3x.png" srcset="/img/Weaviate-what-we-do-1@3x.png" alt="Weaviate enterprise playground" />
            {% endcapture %}
            {% capture textColumn %}
            <h3 class="space-header-column title-column">Weaviate at the core</h3>
            <p>The core of all our solutions is the knowledge graph <a href="/products/weaviate-enterprise.html" target="_self">Weaviate</a>. All data is exposed through the API. Weaviate can run on any cloud, or on-prem. Just bring your use cases.</p>
            {% endcapture %}
            {% include components/layout/layout--double.html
                contentColumnOne=imageColumn
                contentColumnTwo=textColumn
            %}

            {% capture imageColumn1 %}
            <img class="section--img-playground" src="/img/Weaviate-what-we-do-2@3x.png" srcset="/img/Weaviate-what-we-do-2@3x.png" alt="Weaviate enterprise playground" />
            {% endcapture %}
            {% capture textColumn1 %}
            <h3 class="space-header-column title-column">Custom solutions per domain</h3>
            <p>You can create custom solutions, and use the out-of-the-box SeMI tools per domain. If you'd like to discuss a specific use case our <i><a href="/products/semi-consulting.html" target="_self">solution engineers</a></i> are ready to help.</p>
            {% endcapture %}
            {% include components/layout/layout--double.html
            columnOrder="reverse"
            contentColumnOne=imageColumn1
            contentColumnTwo=textColumn1
            %}

            {% capture imageColumn2 %}
            <img class="section--img-playground" src="/img/Weaviate-what-we-do-3@3x.png" srcset="/img/Weaviate-what-we-do-3@3x.png" alt="Weaviate enterprise playground" />
            {% endcapture %}
            {% capture textColumn2 %}
            <h3 class="space-header-column title-column">Proven technology</h3>
            <p>Solutions can vary from apps to machine learning models, and from websites to system integrations. <!--See example use cases <a href="/use-cases/" target="_self">here</a>.--></p>
            {% endcapture %}
            {% include components/layout/layout--double.html
            contentColumnOne=imageColumn2
            contentColumnTwo=textColumn2
            %}
        </section>
    </div>
    <div class="section-standout--quaternary">
        <div class="container section-standout-padding">
            <div class="wrapper">
                <section class="quote--jumbo">
                    <p class="quote__content">SeMI's Weaviate enables us to safely exchange valuable data and insights with our peers.</p>
                    <div class="quote__profile"><img src="/img/david.jpeg" alt="image of David Toborek" /></div>
                    <div class="footer">
                        — <cite><strong>David Toborek</strong> <br /> Head of IT at METRONOM GmbH</cite>
                    </div>
                </section>
            </div>
        </div>
    </div>
</article>
