@import '../variables/var-typography';
@import '../variables/var-color';

.callout {
  background-color: $color-semi-accent-tint--3;
  border: 1px solid $color-semi-accent;
  padding: 1rem;
  font-style: italic;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: $body-max-paragraph-width;

  a {
    color: $color-black;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
