
@import '../variables/var-scale';

/**
 * Section and column headers
 * Defines spacing and alignment for titles and headings (not font-sizes)
 */

.header-container {
    width: 100%;
}

.header-main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 0;

    source, img {
        padding: 1rem 0;
        width: 11rem;
    }
}

.header--centered {
  text-align: center;
}

.section__payoff {
    font-family: $typeface-sans;
    font-weight: 500;
    margin-bottom: 3rem; // 32px
}
