
@import '../variables/var-color';
@import '../mixins/mixins-breakpoints';

@mixin table-cell-styling {
    font-size: 1rem;
    padding: $space-inner-medium;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    position: relative;

    table {
        min-width: 800px;
    }
}

// show the table is scrollable only on screens that have the scroll (< 800px)
@include breakpoint(toMedium) {
    .table-container {
        border-width: 3px 3px 3px 0;
        border-style: solid;
        border-image: linear-gradient(to left, $color-gray-4, rgba(0, 0, 0, 0)) 1 100%;
    }
}

table {
    border-spacing: 0 .5em;
    table-layout: auto;
}

th {
    font-weight: 500;
    text-align: left;
    @include table-cell-styling;
}

td {
    @include table-cell-styling;
}

// not recommended, changing the display property will
// remove the accessiblity features which the native table element already has
.table-flex {
    display: flex;
    flex-flow: column;

    tr {
        flex-flow: row;
        display: flex;
    }
}

.table-usage {
    width: 100%;
    td, th {
        font-size: 1rem;
        padding: 0.375rem;
    }
    @media screen and (min-width: 48em) {
        td, th {
            padding: 1rem 1.5rem;
        }
    }
}

.table-usage thead {
    background-color: $color-almostblack-tint--1;
    color: $color-white;
}

.table__cell--vertically-middle {
    vertical-align: middle;
    text-align: center;
}

.table-features th:not(:first-child) {
    text-align: center;
    min-width: 130px;
}

.table-zebra {
  border-spacing: 0;
}

.table-zebra :not(thead) tr:nth-child(odd) {
    background-color: $color-gray-7;
}

.table__cell--highlight {
    background-color: $color-black;
    @at-root th#{&} {
        color: $color-white;
    }
}

.table-zebra :not(thead) tr:nth-child(even) .table__cell--highlight {
    background-color: $color-almostblack-tint--1;
}
