@import '../variables/var-typography';
@import '../variables/var-color';
@import '../variables/var-borders';
@import '../mixins/mixins';
@import '../mixins/mixins-animations';

.nav-main {
    margin-bottom: 1em;
    ul {
        display: flex;
        list-style: none;
    }
	li {
		a {
			@include transition-out;
			border-bottom: 0;
			border-radius: $border-radius-3;
			color: $color-black;
			font-family: $typeface-body;
        	font-size: $font-size-ui;
        	font-variant-caps: small-caps;
			padding: .5em .75em;
			text-transform: lowercase;
			white-space: nowrap;
			&:hover,
			&:focus,
			&:active {
				@include transition-in;
				background: $color-semi;
				border-radius: 0;
				color: $color-white;
				outline: none;
			}
			&:focus {
				background: $color-semi-accent;
				outline: none;
			}
		}
	}
	@include animateFadeIn();
}

.nav-main:not(.nav-vertical) {
	ul {
		flex-wrap: wrap;
		margin-left: .5em;
	}
}

.nav-vertical {
	background-color: $color-almostblack;
	display: none;
	padding: $scale-0;
	z-index: 100;
	border-radius: $border-radius-3;
	ul {
		flex-direction: column;
		li {
			display: flex;
			a {
				color: $color-white;
			}
		}
	}
}

.nav-vertical--active {
	display: flex;
	height: auto;
	max-height: 500px;
}

.nav-main .main-nav--selected,
.page--home .nav-main--home,
.page--products .nav-main--products,
.page--blog .nav-main--blog,
.page--use-cases .nav-main--use-cases,
.page--team .nav-main--team,
.page--contact .nav-main--contact,
.page--services .nav-main--services {
    a {
        background: $color-black;
        color: $color-white;
    }
}

@media (min-width: 34em) {

	.main-nav__item-right {
		margin-left: auto;
	}
}
