<form action="/search/" class="search" method="GET">
    <section class="search-meta">
        <label class="is-visually-hidden" for="search-knowledgebase">Search our blog</label>
        <input autosave="save-search-knowledgebase"
               placeholder="Search our blog"
               id="search-knowledgebase"
               name="search"
               results="15"
               type="search" />
        <button class="button button-ui" type="submit" value="Submit">
            <img class="icon icon-medium" src="/img/icon-ui-magnifyingglass.svg">
        </button>
    </section>
</form>