---
bodyclass: page--products
layout: layout-default
title: SeMI, our products
description: An overview of SeMI's products and services.
open-graph-type: product
---

<article>
    <div class="container background-hexagon">
        <section class="section-standout--secondary">
            <div class="wrapper">
                <div class="layout layout--single">
                    <div class="section-standout__logo">
                        <img src="/img/logo-weaviate-emblem-color.svg" alt="Weaviate logo" />
                    </div>
                    <!--<h1 class="space-header-section title-page">The Decentralized Knowledge Graph</h1>
                    <p align="center">Knowledge graphs &#8226; AI-based contextuality &#8226; Decentralized networks</p>-->
                </div>
            </div>
        </section>
        <section class="wrapper--wide">
            <ul class="cards">
                {% capture carOneContent %}
                <div class="card__intro">
                    <p><b>Powerful knowledge graph software. Get meaningful insights from all your data .</b></p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    themeClass="card--pilar card--theme-weaviate-oss"
                    imgUrl="/img/logo-icon-weaviate-oss.svg"
                    imgAlt="Weaviate Open Source logo"
                    title="Weaviate Open Source"
                    linkUrl='/products/open-source.html'
                    linkExternal=false
                    ctaText="Explore Weaviate Open Source"
                    content=carOneContent
                %}

                {% capture carTwoContent %}
                <div class="card__intro">
                    <p class="color-light"><b>The power of Weaviate Open Source plus valuable enterprise tools and services.</b></p>
                </div>
                {% endcapture %}

                {% include components/card/card.html
                    themeClass="card--pilar card--theme-weaviate-enterprise"
                    imgUrl="/img/logo-icon-weaviate-enterprise.svg"
                    imgAlt="Weaviate Enterprise logo"
                    title="Weaviate Enterprise"
                    linkUrl="/products/weaviate-enterprise.html"
                    linkExternal=false
                    ctaText="Explore Weaviate Enterprise"
                    content=carTwoContent
                %}

                {% capture carThreeContent %}
                    <div class="card__intro">
                        <p class="color-light"><b>Weaviate Enterprise as a customized platform with your branding and advanced monetization tools.</b></p>
                    </div>
                {% endcapture %}

                {% include components/card/card.html
                    themeClass="card--pilar card--theme-weaviate-enterprise"
                    imgUrl="/img/logo-icon-weaviate-whitelabel.svg"
                    imgAlt="Weaviate White-Label Platform"
                    title="Weaviate White-Label Platform"
                    linkUrl="/products/weaviate-whitelabel-platform.html"
                    linkExternal=false
                    ctaText="Explore Weaviate White-Label Platform"
                    content=carThreeContent
                %}
            </ul>
        </section>
    </div>
    <section class="section-standout--secondary section-standout-padding container">
        <div class="wrapper-wide">
            <div class="layout layout--single align align--left">
                <h2 class="space-header-section title-section">Add ons</h2>
                <h3>Additional services to enhance what Weaviate can do for you</h3>
            </div>
            {% include organism-cards-products-add-ons.html %}
        </div>
    </section>
    <!--
    TODO: To be defined
    -->
    <section class="section-standout--secondary section-standout-padding container">
        <div class="wrapper-wide">
            <div class="layout layout--single">
                <h2 class="space-header-section title-section">Point solutions</h2>
                <h3>Unique solutions to specific industries, tasks or functionality</h3>
            </div>
            {% include organism-cards-products-point-solutions.html %}
        </div>
    </section>
</article>
