---
bodyclass: page--products
layout: layout-default
title: SeMI, our products
description: An overview of SeMI's products and services.
open-graph-type: product
---

<article>
    <div class="container">
        <section class="section-standout--secondary">
            <div class="wrapper">
                <div class="layout layout--single">
                    <h1 class="header-section title-page">The Decentralized Knowledge Graph</h1>
                    <h3 align="center">Knowledge graphs &#8226; AI-based contextuality &#8226; Decentralized networks</h3
                </div>
            </div>
        </section>
        <section class="wrapper--wide">
            <ul class="cards">
                {% capture carOneContent %}
                <p><b>Weaviate Open Source gives you the powerful knowledge graph software.</b></p>
                <ul>
                    <li>Start deploying use cases right away</li>
                    <li>Easy to use for developers and data scientists</li>
                    <li>Scalable knowledge graph</li>
                    <li>Weaviate peer-to-peer network</li>
                    <li>AI-based contextuality tool: <a href="contextionary.html">Contextionary</a></li>
                    <li>Access to the online version of the <a href="playground.html">Weaviate Playground</a></li>
                </ul>
                {% endcapture %}

                {% include components/card/card.html
                    themeClass="card--pilar card--theme-weaviate-oss"
                    imgUrl="/img/logo-icon-weaviate-oss.svg"
                    imgAlt="Weaviate Open Source logo"
                    title="Weaviate Open Source"
                    linkUrl="https://github.com/creativesoftwarefdn/weaviate"
                    linkExternal=true
                    ctaText="Explore Weaviate OS on Github"
                    content=carOneContent
                %}

                {% capture carTwoContent %}
                <p><b>The power of Weaviate Open Source plus valuable enterprise tools and services.</b></p>
                <ul>
                    <!-- <li>All the powerful features from Weaviate Open Source</li> -->
                    <li>Scalable knowledge graph</li>
                    <li>Weaviate peer-to-peer network</li>
                    <li>Large-scale deployment tools for you own cloud solution or on-premise</li>
                    <li>Create custom <a href="contextionary.html">Contextionaries</a></li>
                    <li>Integration with all your other Enterprise systems</li>
                    <li>Your own version of the <a href="playground.html">Weaviate Playground</a></li>
                    <li>Full support</li>
                    <li>SLA</li>
                </ul>
                {% endcapture %}

                {% include components/card/card.html
                    themeClass="card--pilar card--theme-weaviate-enterprise"
                    imgUrl="/img/logo-icon-weaviate.svg"
                    imgAlt="Weaviate Enterprise logo"
                    title="Weaviate Enterprise"
                    linkUrl="/products/weaviate-enterprise.html"
                    linkExternal=false
                    ctaText="Explore Weaviate Enterprise"
                    content=carTwoContent
                %}

                {% capture carThreeContent %}
                    <p><b>Weaviate as a custom platform which you can use to exchange data with your peers or customers.</b></p>
                    <ul>
                        <!--<li>All the powerfull features from Weaviate Enterprise</li>-->
                        <li>Scalable knowledge graph</li>
                        <li>Weaviate peer-to-peer network</li>
                        <li>Large-scale deployment tools for you own cloud solution or on-premise</li>
                        <li>Create custom <a href="contextionary.html">Contextionaries</a></li>
                        <li>Integration with all your other Enterprise systems</li>
                        <li>Your own version of the <a href="playground.html">Weaviate Playground</a></li>
                        <li>Full support</li>
                        <li>SLA</li>
                        <li>Custom branding to your look and feel</li>
                        <li>Monetization tools</li>
                    </ul>
                {% endcapture %}

                {% include components/card/card.html
                    themeClass="card--pilar card--theme-weaviate-enterprise"
                    imgUrl="/img/logo-icon-weaviate.svg"
                    imgAlt="Weaviate Turnkey Platform"
                    title="Weaviate Turnkey Platform"
                    linkUrl="/products/weaviate-turnkey-platform.html"
                    linkExternal=false
                    ctaText="Explore Weaviate Turnkey Platform"
                    content=carThreeContent
                %}
            </ul>
        </section>
    </div>
    <section class="section-standout--tertiary section-standout-padding container">
        <div class="wrapper">
            {% include organism-cards-products-network-and-consulting.html %}
        </div>
    </section>
</article>
