---
bodyclass: page--products--semi-consulting
layout: layout-default
title: SeMI, our products
description: An overview of SeMI's products and services.
open-graph-type: product
---

<article class="container">
    <div class="wrapper">
        <section class="layout layout--single">
            <div class="section-standout__logo">
                <img src="/img/logo-icon-semi-consulting.svg" alt="SeMI consulting logo" />
            </div>
            <h1 class="section__heading section__heading--primary">SeMI Consulting</h1>
            <div class="section__payoff">
                Professional services for enabling the exchange of valuable knowledge
            </div>
            <div class="section-standout__text--centered">
                <p>Why consulting? What for? What is in it for customers? …compare and describe data ranging from finance 🏦 to car manufacturing 🚗🏭, from zoos 🐘 to space stations 🚀 and from traditional datasets 📊 to Internet of Thing 📱 devices.</p>
            </div>
        </section>


        <!--section>
            <div class="image-large">
                IMAGE HERE
            </div>
        </section-->

        <section class="section--help">
            <h2 class="section__heading section__heading--centered section__heading--tertiary">Apply Weaviate across a wide range of industries</h2>
            <div class="section__content">
                <article class="section__column">
                    <div class="column__image">
                        <img src="/img/SeMI-graphic-strategy-workshops.svg" alt="SeMI consulting strategy workshops" />
                    </div>
                    <div class="column__content">
                        <h3 class="section__heading section__heading--centered section__heading--tertiary">Strategy workshops</h3>
                        <p>Besides doing that inside a single Weaviate instance. You can also create a peer-to-peer network of Weaviates that use word embeddings to communicate with each other in a unique way.</p>
                    </div>
                </article>
                <article class="section__column">
                    <div class="column__image">
                        <img src="/img/SeMI-graphic-technical-consulting.svg" alt="SeMI consulting technical consulting" />
                    </div>
                    <div class="column__content">
                        <h3 class="section__heading section__heading--centered section__heading--tertiary">Technical consulting</h3>
                        <p>Besides doing that inside a single Weaviate instance. You can also create a peer-to-peer network of Weaviates that use word embeddings to communicate with each other in a unique way.</p>
                    </div>
                </article>
            </div>
            <div class="section__content">
                <article class="section__column">
                    <div class="column__image">
                        <img src="/img/SeMI-graphic-customer-experience.svg" alt="SeMI consulting customer experience" />
                    </div>
                    <div class="column__content">
                        <h3 class="section__heading section__heading--centered section__heading--tertiary">Customer experience</h3>
                        <p>Besides doing that inside a single Weaviate instance. You can also create a peer-to-peer network of Weaviates that use word embeddings to communicate with each other in a unique way.</p>
                    </div>
                </article>
                <article class="section__column">
                    <div class="column__image">
                        <img src="/img/SeMI-graphic-innovation.svg" alt="SeMI consulting innovation" />
                    </div>
                    <div class="column__content">
                        <h3 class="section__heading section__heading--centered section__heading--tertiary">Innovation</h3>
                        <p>Besides doing that inside a single Weaviate instance. You can also create a peer-to-peer network of Weaviates that use word embeddings to communicate with each other in a unique way.</p>
                    </div>
                </article>
            </div>
        </section>

        <!--section class="quote--jumbo">
            <p class="quote__content">Thanks to SeMI we were able to turn our scattered data into valuable insights.</p>
            <div class="quote__author">IMG</div>
            <div class="footer">
                — <cite><strong>John Johnson</strong> <br /> Data Inc.</cite>
            </div>
        </section-->

        <!--section class="section-partners">
            <div class="wrapper">
                <div class="layout layout--single">
                    <h2 class="section__heading section__heading--tertiary">Some of our clients</h2>
                </div>
            </div>
            include organism-partner-logos.html
        </section -->

        <section>
            <h2 class="section__heading section__heading--centered section__heading--primary">Get started now!</h2>
            <ul class="cards">

                {% include components/card/card.html
                    title="Explore your first use case"
                    bodycopy="Want to explore how SeMI can help your business?"
                    linkUrl="/workshop/"
                    ctaText="Book a free explorative workshop"
                %}

                {% include components/card/card.html
                    title="Schedule a meeting"
                    bodycopy="Curious how SeMI works from a technical perspective?"
                    linkUrl="/knowledge-base/"
                    ctaText="Go to knowledge base"
                %}

            </ul>
        </section>

    </div>
</article>