---
bodyclass: page--products--weaviate
layout: layout-default
title: Weaviate White-Label Platform
description: The Decentralized Knowledge Graph
open-graph-type: product
---

<article>
    <div class="page--background__first">
        <div class="container">
            <div class="wrapper">
                <section class="layout layout--single">
                    <div class="section-standout__logo">
                        <img src="/img/logo-icon-weaviate-whitelabel.svg" alt="Weaviate logo" />
                    </div>
                    <h1 class="header-section title-page header--centered">Weaviate White-Label Platform</h1>
                    <div class="section__payoff">
                        Build and monetize your own Weaviate Network.
                    </div>
                    <div class="section-standout__text--centered">
                        <!--p>Weaviate meshes all your data and makes it available as one seamless source of knowledge for contextualized research, reporting, and re-use</p-->
                        <p>The white-label Platform version is based on the <a href="/products/weaviate-enterprise.html">Weaviate Enterprise</a> software and contains everything you need to run a full blown scalable platform business with the push of a button. Additionally, we can create custom <a href="/knowledge-base/wiki-weaviate/learn/features/#contextionary" title="Contextionaries">Contextionaries</a> for you, and we will work with your own team to add in whatever customisations you need. We also provide you with monetization tools to generate reveniew with your Weaviate. With that, we provide an SLA, large scale deployment in your own cloud or on premise and support.</p>
                    </div>
                </section>
                <section class="quote--jumbo"><p class="quote__content">SeMI's Weaviate enables us to safely exchange valuable data and insights with our peers.</p><div class="quote__author"><img src="/img/david.jpeg" alt="image of David Toborek"></div><div class="footer">— <cite><strong>David Toborek</strong><br>Head of IT at METRONOM GmbH</cite></div></section>
                <section>
                    <h2 class="header-section title-section header--centered">A powerful platform to offer knowledge graph services to your customers</h2>
                    <section class="layout layout--double">
                        <div class="layout__column">
                            <img class="section--img-weaviate-clouds" src="/img/weaviate_E_color.png" alt="Weaviate Enterprise logo" />
                        </div>
                        <div class="layout__column">
                            <h3 class="header-column title-column">Weaviate Enterprise</h3>
                            <p>Every powerful feature <a href="/products/weaviate-enterprise.html">Weaviate Enterprise</a> has to offer.</p>
                        </div>
                    </section>
                    <section class="layout layout--double layout--double-reverse">
                        <div class="layout__column">
                            <img class="section--img-ppf" src="/img/money.png" srcset="/img/money@3x.png" alt="Monitize your Weaviate" />
                        </div>
                        <div class="layout__column">
                            <h3 class="header-column title-column">Monitize your data</h3>
                            <p>Offer your data directly to your customers and monitize on the usage.</p>
                        </div>
                    </section>
                    <section class="layout layout--double layout">
                        <div class="layout__column">
                            <img class="section--img-playground" src="/img/support.png" srcset="/img/support@3x.png" alt="Weaviate enterprise playground" />
                        </div>
                        <div class="layout__column">
                            <h3 class="header-column title-column">Help from our consultants</h3>
                            <p>SeMI business consultants and data scientist can help you achieve your goals with Weaviate. <a href="/products/semi-consulting.html">Learn more</a> about what SeMI consultants can do for you.</p>
                        </div>
                    </section>

                    <section class="layout layout--double layout--double-reverse">
                        <div class="layout__column">
                            <img class="section--img-playground" src="/img/weaviate-enterprise-playground.png" srcset="/img/weaviate-enterprise-playground@2x.png" alt="Weaviate enterprise playground" />
                        </div>
                        <div class="layout__column">
                            <h3 class="header-column title-column">Predefined Data Networks</h3>
                            <p>You will be able to plug in a selection of premium, predefined, knowledge graphs which can enrich your results and enhance your outcomes. These are accessed through the Weaviate Networks toolkit.</p>
                        </div>
                     </section>
                </section>
                <section class="layout layout--single">
                    <h2 class="title-section header--centered title-column">Features</h2>

                    {% comment %}
                        Note: To edit this table, look for the file './_data/weaviateFeatures.yml'
                    {% endcomment %}

                    {% if site.data.weaviateFeatures %}
                        <div class="table-container">
                            <table class="table-zebra">
                                <thead>
                                    <tr>
                                        <th>Feature</th>
                                        <!---<th>Note</th>--->
                                        <th>Weaviate Open Source</th>
                                        <th>Weaviate Enterprise</th>
                                        <th>Weaviate White-Label</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for feature in site.data.weaviateFeatures %}
                                        <tr>
                                            <td>{{ feature.title }}</td>
                                            <!---<td>{{ feature.note }}</td>--->
                                            <td class="table__cell--vertically-middle">{% include molecule-hasFeature.html hasFeature=feature.opensource %}</td>
                                            <td class="table__cell--vertically-middle">{% include molecule-hasFeature.html hasFeature=feature.enterprise %}</td>
                                            <td class="table__cell--vertically-middle">{% include molecule-hasFeature.html hasFeature=feature.whitelabel %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p>No data found.</p>
                    {% endif %}
                </section>
                <section class="layout layout--single" style="margin-top: 3rem; margin-bottom: 7rem;">
                    <h2 class="title-section header--centered title-column">Reach out to us for more information</h2>
                    <a class="card__button button" href="/contact/" title="Reach out to us for more information">Contact us</a>
                </section>
            </div>
        </div>
    </div>
</article>
