---
bodyclass: page--products--weaviate
layout: layout-default
title: Weaviate
description: A Decentralized Knowledge Graph
open-graph-type: product
---

<article>
    <div class="page--background__first">
        <div class="container">
            <div class="wrapper">
                <section class="section-standout__content section-standout__content--single">
                    <div class="section-standout__logo">
                        <img src="/img/logo-icon-weaviate.svg" alt="Weaviate logo" />
                    </div>
                    <h1 class="section__heading section__heading--primary section__heading--centered">Weaviate</h1>
                    <div class="section__payoff">
                        A Decentralized Knowledge Graph
                    </div>
                    <div class="section-standout__text--centered">
                        <p>Weaviate's Knowledge Graph solves the problem of relating seemingly different datasets to each other allowing you to use one single dataset for multiple use cases. It can be used to compare and describe data from finance 🏦 to car manufacturing 🚗🏭, from zoos 🐘 to space stations 🚀 and from traditional datasets 📊 to Internet of Thing 📱 devices.</p>
                    </div>
                </section>
                <section class="section--video">
                    <!-- TODO: make responsive -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Azhai5tg6p0?VQ=hd1080" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </section>
                <section class="section--weaviate-industries">
                    <h2 class="section__heading section__heading--centered section__heading--tertiary">Apply Weaviate's knowledge graph across a wide range of industries</h2>
                    <div class="section__content">
                        <article class="section__column">
                            <div class="column__image">
                                <img src="/img/finance.png" srcset="/img/finance@2x.png" alt="Weaviate Finance" />
                            </div>
                            <div class="column__content">
                                <h3 class="section__heading section__heading--centered section__heading--tertiary">Finance</h3>
                                <p>Although there is a tremendous amount of information hidden in financial data, it is often used for a single use case like retrieving transaction or generating reports. With the Weaviate knowledge graph, you can unlock all hidden potential hidden in your datasets and even connect those datasets to other institutions securely and straightforwardly.</p>
                            </div>
                        </article>
                        <article class="section__column">
                            <div class="column__image">
                                <img src="/img/aviation.png" srcset="/img/aviation@2x.png" alt="Weaviate transportation" />
                            </div>
                            <div class="column__content">
                                <h3 class="section__heading section__heading--centered section__heading--tertiary">Transportation</h3>
                                <p>From complete airports to individual cars, they all generate that contains valuable knowledge. With the Weaviate knowledge graph, you can connect multiple airports, cars or even connected-bikes to exchange information securely and straightforwardly.</p>
                            </div>
                        </article>
                    </div>
                    <div class="section__content">
                        <article class="section__column">
                            <div class="column__image">
                                <img src="/img/retail.png" srcset="/img/retail@2x.png" alt="Weaviate wholesale and retail" />
                            </div>
                            <div class="column__content">
                                <h3 class="section__heading section__heading--centered section__heading--tertiary">Wholesale and Retail</h3>
                                <p>Billions of products move around the world, and the majority of them are stored somewhere in a database. The information hidden in these datasets is enormous and the Weaviate knowledge graph can be used to unlock this knowledge.</p>
                            </div>
                        </article>
                        <article class="section__column">
                            <div class="column__image">
                                <img src="/img/engineering.png" srcset="/img/engineering@2x.png" alt="Weaviate engineering" />
                            </div>
                            <div class="column__content">
                                <h3 class="section__heading section__heading--centered section__heading--tertiary">Engineering</h3>
                                <p>Did you know that a car is made of around 30.000 parts? From cars to power plants, they are all created based on complex blueprints which contain many parts. Thanks to the Weaviate, you will be able to map out complex systems into one single knowledge graph.</p>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="page--background__second">
        <div class="container">
            <div class="wrapper">
                <section class="quote--jumbo">
                    <p class="quote__content">SeMI's Weaviate enables us to safely exchange valuable data and insights with our peers.</p>
                    <div class="quote__author"><img src="/img/david.jpeg" alt="image of David Toborek" /></div>
                    <div class="footer">
                        — <cite><strong>David Toborek</strong> <br /> Head of IT at METRONOM GmbH</cite>
                    </div>
                </section>
                <section>
                    <h2 class="section__heading section__heading--tertiary section__heading--centered">Get started with Weaviate</h2>
                    <ul class="cards">
                        <li class="card card--pilar card--theme-weaviate-oss">
                            <div class="card__icon">
                                <img src="/img/logo-icon-weaviate-oss.svg" alt="Weaviate OSS logo" />
                            </div>
                            <h3 class="card__title">Weaviate OSS</h3>
                            <div class="card__content">
                                <ul class="list-benefits">
                                    <li>Open source version of Weaviate.</li>
                                    <li>Organize and structure your data into a knowledge graph.</li>
                                    <li>Query your knowledge graph in real time for valuable insights.</li>
                                    <li>Stay in control of your datasets and privacy.</li>
                                </ul>
                            </div>
                            <a class="button" href="https://github.com/creativesoftwarefdn/weaviate" target="_blank">Get started with Weaviate OSS on Github</a>
                        </li>
                        <li class="card card--pilar card--theme-weaviate-enterprise">
                            <div class="card__icon">
                                <img src="/img/logo-icon-weaviate-enterprise.svg" alt="Weaviate enterprise logo" />
                            </div>
                            <h3 class="card__title">Weaviate Enterprise</h3>
                            <div class="card__content">
                                <ul class="list-benefits">
                                    <li>Enterprise version of Weaviate</li>
                                    <li>Organize and structure your data into a knowledge graph.</li>
                                    <li>Query your knowledge graph in real time for valuable insights</li>
                                    <li>Stay in control of your datasets and privacy.</li>
                                    <li>Enrich your insights by connecting to a peer to peer network of other participants.</li>
                                    <li>Use third party metadata to enhance the value of your insights.</li>
                                    <li>Full scale implementations for multiple cloud vendors.</li>
                                    <li>Full scale on premise implementation.</li>
                                    <li>Support from SeMI's knowledge graph consultants.</li>
                                </ul>
                            </div>
                            <a class="button" href="/contact/">Contact us to get started with Enterprise</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h2 class="section__heading section__heading--primary section__heading--centered">An enterprise ready solution</h2>
                    <section class="section-standout__content section-standout__content--double">
                        <div class="section-standout__column">
                            <img class="section--img-weaviate-clouds" src="/img/weaviate-enterprise-clouds.png" srcset="/img/weaviate-enterprise-clouds@2x.png" alt="Weaviate support for different clouds" />
                        </div>
                        <div class="section-standout__column">
                            <h3 class="section__heading section__heading--tertiary">Support for different clouds</h3>
                            <p>Weaviate Enterprise supports multiple cloud vendors including; Google, AWS, Azure and Oracle Cloud.</p>
                        </div>
                    </section>
                    <section class="section-standout__content section-standout__content--double section-standout__content--reverse">
                        <div class="section-standout__column">
                            <img class="section--img-ppf" src="/img/weaviate-enterprise-pricing-per-function.png" srcset="/img/weaviate-enterprise-pricing-per-function@2x.png" alt="Weaviate enterprise pricing per function" />
                        </div>
                        <div class="section-standout__column">
                            <h3 class="section__heading section__heading--tertiary">Pricing per function</h3>
                            <p>With Weaviate Enterprise you are charged per function via the Weaviate API. This way you only pay for what you need.</p>
                        </div>
                    </section>
                    <section class="section-standout__content section-standout__content--double section-standout__content">
                        <div class="section-standout__column">
                            <img class="section--img-playground" src="/img/weaviate-enterprise-playground.png" srcset="/img/weaviate-enterprise-playground@2x.png" alt="Weaviate enterprise playground" />
                        </div>
                        <div class="section-standout__column">
                            <h3 class="section__heading section__heading--tertiary">Playground</h3>
                            <p>Weaviate's Playground is a graphical user interface that enables you to gather insights from the knowledge graph directly. Users of Weaviate Open Source can use the Playground on this websites, and Weaviate Enterprise users receive a custom version they can run wherever suited.</p>
                        </div>
                    </section>
                </section>

                <!--<section>-->
                    <!--<h2 class="section__heading section__heading&#45;&#45;centered section__heading&#45;&#45;tertiary">Pay only for what you use</h2>-->
                    <!--<table class="table-usage table-flex">-->
                        <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>Function</th>-->
                                <!--<th>1-1,000 units/month</th>-->
                                <!--<th>1001-5,000,000 units/month</th>-->
                                <!--<th>5,000,001-20,000,000 units/month</th>-->
                            <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td>Function 1</td>-->
                                <!--<td>Free</td>-->
                                <!--<td>$ 1.50</td>-->
                                <!--<td rowspan="3" class="table__cell&#45;&#45;vertically-middle">-->
                                    <!--<a href="/contact/" title="Contact us for more information">Contact us for more information</a>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Function 1</td>-->
                                <!--<td>Free</td>-->
                                <!--<td>$ 1.50</td>-->
                                <!--&lt;!&ndash;<td rowspan="3">Table data cell</td>&ndash;&gt;-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Function 1</td>-->
                                <!--<td>Free</td>-->
                                <!--<td>$ 1.50</td>-->
                                <!--&lt;!&ndash;<td rowspan="3">Table data cell</td>&ndash;&gt;-->
                            <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</section>-->

                <section>
                    <h2 class="section__heading section__heading--centered section__heading--tertiary">Get started now!</h2>
                    <ul class="cards">

                        {% include components/card.html
                            themeClass="card--theme-weaviate-oss"
                            imgUrl="/img/logo-icon-weaviate-oss.svg"
                            title="Weaviate OSS"
                            bodycopy="Want to explore how SeMI can help your business?"
                            linkUrl="/workshop/"
                            ctaText="Book a free eplorative workshop"
                        %}

                        {% include components/card.html
                            themeClass="card--theme-weaviate-enterprise"
                            imgUrl="/img/logo-icon-weaviate-enterprise.svg"
                            title="Weaviate Enterprise"
                            bodycopy="Curious how SeMI works from a technical perspective?"
                            linkUrl="/knowledge-base/"
                            ctaText="Go to knowledge base"
                        %}

                    </ul>
                </section>
            </div>
        </div>
    </div>
</article>