@charset "UTF-8";

// Variables
@import 'variables/var-color';
@import 'variables/var-typography';
@import 'variables/var-scale';
@import 'variables/var-borders';

// Mixins
@import 'mixins/mixins';
@import 'mixins/mixins-animations';
@import 'mixins/mixins-breakpoints';

// Accessibility helpers
@import 'base/accessibility';

// Cross-browser normalization
@import 'base/normalize';

// Layout
@import 'base/style-layout';

// Atoms
@import 'base/style-iconography';
@import 'base/style-typography';

// Molecules
@import 'molecules/molecule-anchor';
@import 'molecules/molecule-forms';
@import 'molecules/molecule-help';
@import 'molecules/molecule-tags';

// Components
@import 'components/component-article-overview';
@import 'components/component-backgrounds';
@import 'components/component-badge';
@import 'components/component-breadcrumb';
@import 'components/component-callout';
@import 'components/component-card-author';
@import 'components/component-cards';
@import 'components/component-code';
//@import './_sass/component-details';
@import 'components/component-footer';
@import 'components/component-headers';
@import 'components/component-hero';
@import 'components/component-icons';
@import 'components/component-image';
@import 'components/component-layout';
@import 'components/component-list-logos';
@import 'components/component-lists';
@import 'components/component-logos';
@import 'components/component-media';
@import 'components/component-meta';
@import 'components/component-nav-main';
@import 'components/component-notify';
@import 'components/component-quotes';
@import 'components/component-search-meta';
@import 'components/component-sections';
@import 'components/component-section-page-intro';
@import 'components/component-select-menu';
@import 'components/component-spacing';
@import 'components/component-site-header';
@import 'components/component-table';
@import 'components/component-tags';
@import 'components/component-titles';
@import 'components/component-toc';

// Templates
@import 'base/content';
@import 'templates/template-article';
@import 'templates/template-console';
@import 'templates/template-home';
@import 'templates/template-products';
@import 'templates/template-products__semi-consulting';
@import 'templates/template-products__weaviate';
@import 'templates/template-search';
@import 'templates/template-use-case';

// Service Manual
@import 'base/debug';
@import 'base/service-manual';

// IE 10+ bug fixes
@import 'base/ie-bugfix';
