{% assign sorted_use_cases = site.use_cases | sort:"order" %}

{% include head.html %}

<body class="page--blog">

{% include organism-header.html %}

<main>
    <article class="container">
        <div class="wrapper article-container">
            <!--
                add the sidebar from the design here
            -->
            <section itemscope itemtype="http://schema.org/articleBody">
                {% include article-intro.html %}
                {% include article-image.html %}
                <section class="article">
                    {{ content }}
                </section>
                <dl class="tags tags-in-page">
                    <dt><i>Tags</i></dt>
                    <dd>
                        <ul class="tags__tag-list">
                            {% for tag in page.tags %}
                            <li><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </dd>
                </dl>
            </section>
        </div>
    </article>
    <div class="section-standout--quaternary">
        {% include section-contact-us.html %}
    </div>
    <div class="container">
        <section class="wrapper--wide">
            <div class="layout layout--single">
                <div class="space-header-section header--centered">
                    <h2 class="title-section">Related use cases</h2>
                </div>
            </div>
            <ul class="cards">
                {% for item in sorted_use_cases limit:4 %}
                {% unless item.exclude %}
                {% include components/card/card.html
                    title=item.title
                    themeClass="card--pilar theme--use-cases"
                    inverted=true
                    imgUrl=""
                    imgAlt=""
                    linkUrl=item.url
                    linkExternal=false
                    ctaText=""
                    bodycopy=item.description
                    inDevelopment=true
                    tags=item.tags
                %}
                {% endunless %}
                {% endfor %}
            </ul>
        </section>
    </div>

</main>

{% include organism-footer.html %}