{% assign sorted_use_cases = site.use_cases | sort:"order" %}

{% include head.html %}

<body class="{{page.bodyclass}}">

{% include organism-header.html %}

<main>
    <article>
        <div class="container">
            <div class="wrapper--wide article__top">
                <div class="article__top-image">
                    {% include article-image.html %}
                </div>
                <div class="article__top-content">
                    <div class="article-intro"><!-- space-header-page -->
                        {% include article-intro.html %}
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <section itemscope itemtype="http://schema.org/articleBody">
                    <div class="article">
                        {{ content }}
                    </div>
                    <dl class="tags tags-in-page">
                        <dt><i>Tags</i></dt>
                        <dd>
                            <ul class="tags__tag-list">
                                {% for tag in page.tags %}
                                <li><a>{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                </section>
            </div>
        </div>
    </article>
    <div class="section-standout--quaternary">
        {% include section-contact-us.html %}
    </div>
    <div class="container">
        <section class="wrapper--wide">
            <div class="layout layout--single">
                <div class="space-header-section header--centered">
                    <h2 class="title-section">Related use cases</h2>
                </div>
            </div>
            <ul class="cards">
                {% for item in sorted_use_cases limit:4 %}
                {% unless item.exclude %}
                {% include components/card/card.html
                    title=item.title
                    themeClass="card--pilar theme--use-cases"
                    imgUrl=""
                    imgAlt=""
                    linkUrl=item.url
                    linkExternal=false
                    ctaText=""
                    bodycopy=item.description
                    inRnD=item.inRnD
                    tags=item.tags
                %}
                {% endunless %}
                {% endfor %}
            </ul>
        </section>
    </div>

</main>

{% include organism-footer.html %}