{% assign sorted_use_cases = site.use_cases | sort:"order" %}

{% include head.html %}

<body class="{{page.bodyclass}}">

{% include organism-header.html %}

<main>
    <article>
        <div class="container">
            <div class="wrapper--wide article__top">
                <div class="article__top-image-container">
                    {% include article-image.html %}
                </div>
                <div class="article__top-content">
                    <div class="article-intro"><!-- space-header-page -->
                        {% include article-intro.html %}
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <section itemscope itemtype="http://schema.org/articleBody">
                    <div class="article">
                        {{ content }}
                    </div>
                    <div>
                        <h1>Want to learn more?</h1>

                        <p>
                            Want to learn more about this use case or explore how we can help you?
                            <a class="card__button button" href="javascript:void(Tawk_API.toggle())" title="Request a demo">Click here to request a demo or learn more about this case</a>
                        </p>

                        
                    </div>
                    <div class="tags-in-page">
                        {% include molecule-list-tags.html
                            tags=page.tags
                        %}
                    </div>
                </section>
            </div>
        </div>
    </article>
    <div class="container">
        <section class="wrapper--wide">
            <div class="layout layout--single">
                <div class="space-header-section header--centered">
                    <h2 class="title-section">Related use cases</h2>
                </div>
            </div>
            <ul class="cards">
                {% for item in sorted_use_cases limit:4 %}
                {% unless item.exclude %}
                {% include components/card/card.html
                    title=item.title
                    themeClass="card--pilar theme--use-cases"
                    imgUrl=""
                    imgAlt=""
                    linkUrl=item.url
                    linkExternal=false
                    ctaText=""
                    bodycopy=item.description
                    inRnD=item.inRnD
                    tags=item.tags
                %}
                {% endunless %}
                {% endfor %}
            </ul>
        </section>
    </div>

</main>

{% include organism-footer.html %}