{% include head.html %}

<body class="page--knowledge-base">

{% include organism-header.html %}

<main>
    <article class="container">
        <div class="wrapper article-container">
            {% include article-menu.html %}
            <section itemscope itemtype="http://schema.org/articleBody">
                <!-- include article-breadcrumb.html -->
                {% include article-intro.html %}
                <section class="article">
                    {% for video in page.video-link %}
                        <figure class="video-container">
                            <div>{{ video }}</div>
                            {% for caption in page.video-caption %}
                                <figcaption>
                                    {{ caption }}
                                </figcaption>
                            {% endfor %}
                        </figure>
                    {% endfor %}
                    {{ content }}
                </section>
                <dl class="tags tags-in-page">
                    <dt><i>Tags</i></dt>
                    <dd>
                        <ul class="tags__tag-list">
                            {% for tag in page.tags %}
                            <li><a href="/tags/{{ tag }}/">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </dd>
                </dl>
            </section>
        </div>
    </article>
</main>

{% include organism-footer.html %}