
@import '../mixins/mixins-animations';
@import '../mixins/mixins-breakpoints';

body {
    background: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    flex: 1;
}

@include breakpoint(mediumUp) {
    .page--home main {
        height: 80vh;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: $component-primary-max-width;
}

.wrapper--wide {
    margin: 0 auto;
    max-width: $component-wide-max-width;
}

.container {
    padding-left: $application-gutter;
    padding-right: $application-gutter;
}

// create extra space for the footer
// TODO: refactor this into something less generic
main > .container {
    &:last-child {
        padding-bottom: 3.5em;
    }
}

.call-out {
    @media screen and (min-width: 60em) {
        margin: 0 -2em;
    }
    @media screen and (min-width: 64em) {
        margin: 0 -3em;
    }
    @media screen and (min-width: 80em) {
        margin: 0 -10em;
    }
}


.page-fadein--first {
    @include animateFadeIn(.35s);
}
.page-fadein--second {
    @include animateFadeIn(.65s);
}
.page-fadein--third {
    @include animateFadeIn(.75s);
}

.page-fadein-from-bottom--first {
    @include animateFadeInFromBottom(.35s);
}
.page-fadein-from-bottom--second {
    @include animateFadeInFromBottom(.65s);
}
.page-fadein-from-bottom--third {
    @include animateFadeInFromBottom(.75s);
}
