---
bodyclass: page--knowledge-base
layout: layout-default
show-topic: wiki-semi-consulting
title: Wiki Weaviate
description: Wiki Weaviate knowledge base
---

<article class="container">
    <div class="wrapper">
        <section class="layout layout--single">
            <div class="section-standout__logo">
                <img src="/img/logo-icon-semi-consulting.svg" alt="SeMI logo">
            </div>
            <h1 class="header-page header--centered title-page">SeMI Knowledge Base</h1>
        </section>
        <section class="form-inline">
            {%  include components/searchform/search.html %}
        </section>
    </div>
    <div class="wrapper--wide">
        {% comment %}<!-- setup list of all pages sorted by 'menu-order' -->{% endcomment %}
        {% assign sorted_pages = site.pages | group_by: 'topic' %}
        {% for topic in sorted_pages %}
            {% comment %}<!-- only show pages in this page's topic (see frontmatter) -->{% endcomment %}
            {% if topic.name == page.show-topic %}
            <ul class="cards">
                {% for category in site.data.categories %}
                <li class="card">
                    <h2 class="title-column">{{ category.name | capitalize }}</h2>
                    {% include pages-per-category--list.html category=category.name content=topic %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
    </div>
</article>
